<section id="email" style="max-width: 800px;width: 100%;margin: 0 auto;">
  <h1 style="text-align: center;margin: 15px 0;font-family: 'Arial', 'Helvetica', sans-serif;color: #b10000;">Mitchell's Physiotherapy </h1><br>
  <h2 style="text-align: center;">Customer Feedback</h2>
  <br>
  <table style="height: 100%;width: 100%;float: left;">
    <tr class="main-row" style="
    height:100%;
        max-height: 120px;
        width: 100%;
        float: left;
        background-color: #f4f4f4;
        margin: 10px 0;">
      <td class="icon" style="height:100%;width: 10%;text-align: center;padding: 20px 30px;border-right: 1px solid #cccccc;vertical-align: middle;">
        <img src="http://imgur.com/SItGDVz.png"/></td>
      <td class="main-column" style="height:100%;width: 90%;">
        <table style="height: 100%;width: 100%;float: left;">
          <tr>
            <th style="padding: 0 10px 0 20px;color: #333333;font-size: 16px;text-align: left;height:100%;width: 50%;vertical-align: middle;font-weight: 600;font-family: 'Arial', 'Helvetica', sans-serif;">Treatment Type:
            </th>
            <td style="height:100%;width: 50%;vertical-align: middle;"><%= @form.treatment %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="main-row" style="height:100%;max-height: 120px;width: 100%;float: left;background-color: #f4f4f4;margin: 10px 0;">
      <td class="icon" style="height:100%;width: 10%;text-align: center;padding: 20px 30px;border-right: 1px solid #cccccc;vertical-align: middle;">
        <img src="http://imgur.com/RunwIRM.png"/></td>
      <td class="main-column" style="height:100%;width: 90%;">
        <table style="height: 100%;width: 100%;float: left;">
          <tr>
            <th style="padding: 0 10px 0 20px;color: #333333;font-size: 16px;text-align: left;height:100%;width: 50%;vertical-align: middle;font-weight: 600;font-family: 'Arial', 'Helvetica', sans-serif;">Treating Physiotherapist:</th>
            <td style="height:100%;width: 50%;vertical-align: middle;"><%= @form.physiotherapist %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="main-row" style="height:100%;max-height: 120px;width: 100%;float: left;background-color: #f4f4f4;margin: 10px 0;">
      <td class="icon" style="height:100%;width: 10%;text-align: center;padding: 20px 30px;border-right: 1px solid #cccccc;vertical-align: middle;">
        <img src="http://imgur.com/oI9ztGN.png"/>
      </td>
      <td class="main-column" style="height:100%;width: 90%;">
        <table style="height: 100%;width: 100%;float: left;">
          <tr>
            <th style="padding: 0 10px 0 20px;color: #333333;font-size: 16px;text-align: left;height:100%;width: 50%;vertical-align: middle;font-weight: 600;font-family: 'Arial', 'Helvetica', sans-serif;">They rated their treatment:</th>
            <td style="height:100%;width: 50%;vertical-align: middle;"><%= @form.treatment_satisfaction %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="main-row" style="height:100%;max-height: 120px;width: 100%;float: left;background-color: #f4f4f4;margin: 10px 0;">
      <td class="icon" style="height:100%;width: 10%;text-align: center;padding: 20px 30px;border-right: 1px solid #cccccc;vertical-align: middle;">
        <img src="http://imgur.com/oI9ztGN.png"/>
      </td>
      <td class="main-column" style="height:100%;width: 90%;">
        <table style="height: 100%;width: 100%;float: left;">
          <tr>
            <th style="padding: 0 10px 0 20px;color: #333333;font-size: 16px;text-align: left;height:100%;width: 50%;vertical-align: middle;font-weight: 600;font-family: 'Arial', 'Helvetica', sans-serif;">Recommendation Likelihood:</th>
            <td style="height:100%;width: 50%;vertical-align: middle;"><%= @form.recommendation %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="main-row" style="height:100%;max-height: 120px;width: 100%;float: left;background-color: #f4f4f4;margin: 10px 0;">
      <td class="icon" style="height:100%;width: 10%;text-align: center;padding: 20px 30px;border-right: 1px solid #cccccc;vertical-align: middle;">
        <img src="http://imgur.com/oI9ztGN.png"/>
      </td>
      <td class="main-column" style="height:100%;width: 90%;">
        <table style="height: 100%;width: 100%;float: left;">
          <tr>
            <th style="padding: 0 10px 0 20px;color: #333333;font-size: 16px;text-align: left;height:100%;width: 50%;vertical-align: middle;font-weight: 600;font-family: 'Arial', 'Helvetica', sans-serif;">Their receptionist was:</th>
            <td style="height:100%;width: 50%;vertical-align: middle;"><%= @form.receptionist %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="main-row" style="height:100%;max-height: 120px;width: 100%;float: left;background-color: #f4f4f4;margin: 10px 0;">
      <td class="icon" style="height:100%;width: 10%;text-align: center;padding: 20px 30px;border-right: 1px solid #cccccc;vertical-align: middle;">
        <img src="http://imgur.com/oI9ztGN.png"/>
      </td>
      <td class="main-column" style="height:100%;width: 90%;">
        <table style="height: 100%;width: 100%;float: left;">
          <tr>
            <th style="padding: 0 10px 0 20px;color: #333333;font-size: 16px;text-align: left;height:100%;width: 50%;vertical-align: middle;font-weight: 600;font-family: 'Arial', 'Helvetica', sans-serif;">They rated their receptionist:</th>
            <td style="height:100%;width: 50%;vertical-align: middle;"><%= @form.receptionist_satisfaction %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="main-row" style="height:100%;max-height: 120px;width: 100%;float: left;background-color: #f4f4f4;margin: 10px 0;">
      <td class="icon" style="height:100%;width: 10%;text-align: center;padding: 20px 30px;border-right: 1px solid #cccccc;vertical-align: middle;">
        <img src="http://imgur.com/oI9ztGN.png"/>
      </td>
      <td class="main-column" style="height:100%;width: 90%;">
        <table style="height: 100%;width: 100%;float: left;">
          <tr>
            <th style="padding: 0 10px 0 20px;color: #333333;font-size: 16px;text-align: left;height:100%;width: 50%;vertical-align: middle;font-weight: 600;font-family: 'Arial', 'Helvetica', sans-serif;">Their Comments:</th>
            <td style="height:100%;width: 50%;vertical-align: middle;"><%= @form.comments %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</section>