<section id="email" style="max-width: 800px;width: 100%;margin: 0 auto;">
  <h1 style="text-align: center;margin: 15px 0;font-family: 'Arial', 'Helvetica', sans-serif;color: #b10000;">Mitchell's
    Quote Request</h1>
  <br>
  <table style="height: 100%;width: 100%;float: left;">
    <tr class="main-row" style="
    height:100%;
        max-height: 120px;
        width: 100%;
        float: left;
        background-color: #f4f4f4;
        margin: 10px 0;">
      <td class="icon" style="height:100%;width: 10%;text-align: center;padding: 20px 30px;border-right: 1px solid #cccccc;vertical-align: middle;">
        <img src="http://imgur.com/SItGDVz.png"/></td>
      <td class="main-column" style="height:100%;width: 90%;">
        <table style="height: 100%;width: 100%;float: left;">
          <tr>
            <th style="padding: 0 10px 0 20px;color: #333333;font-size: 16px;text-align: left;height:100%;width: 50%;vertical-align: middle;font-weight: 600;font-family: 'Arial', 'Helvetica', sans-serif;">Size
              of Business:
            </th>
            <td style="height:100%;width: 50%;vertical-align: middle;"><%= @form.size %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="main-row" style="height:100%;max-height: 120px;width: 100%;float: left;background-color: #f4f4f4;margin: 10px 0;">
      <td class="icon" style="height:100%;width: 10%;text-align: center;padding: 20px 30px;border-right: 1px solid #cccccc;vertical-align: middle;">
        <img src="http://imgur.com/RunwIRM.png"/></td>
      <td class="main-column" style="height:100%;width: 90%;">
        <table style="height: 100%;width: 100%;float: left;">
          <tr>
            <th style="padding: 0 10px 0 20px;color: #333333;font-size: 16px;text-align: left;height:100%;width: 50%;vertical-align: middle;font-weight: 600;font-family: 'Arial', 'Helvetica', sans-serif;">Service/s
              Required:
            </th>
            <td style="height:100%;width: 50%;vertical-align: middle;">
              <ul style="list-style: none;">
                <% @form.services.each do |service| %>
                  <li><%= service %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="main-row" style="height:100%;max-height: 120px;width: 100%;float: left;background-color: #f4f4f4;margin: 10px 0;">
      <td class="icon" style="height:100%;width: 10%;text-align: center;padding: 20px 30px;border-right: 1px solid #cccccc;vertical-align: middle;">
        <img src="http://imgur.com/oI9ztGN.png"/>
      </td>
      <td class="main-column" style="height:100%;width: 90%;">
        <table style="height: 100%;width: 100%;float: left;">
          <tr>
            <th style="padding: 0 10px 0 20px;color: #333333;font-size: 16px;text-align: left;height:100%;width: 50%;vertical-align: middle;font-weight: 600;font-family: 'Arial', 'Helvetica', sans-serif;">Preferred
              Month of Service/s:
            </th>
            <td style="height:100%;width: 50%;vertical-align: middle;"><%= @form.month %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="main-row" style="height:100%;max-height: 420px;width: 100%;float: left;background-color: #f4f4f4;margin: 10px 0;">
      <td class="icon" style="height:100%;width: 10%;text-align: center;padding: 20px 30px;border-right: 1px solid #cccccc;vertical-align: middle;">
        <img src="http://imgur.com/oI9ztGN.png"/></td>
      <td class="main-column" style="height:100%;width: 90%;">
        <table style="height: 100%;width: 100%;float: left;">
          <tr>
            <th style="padding: 0 10px 0 20px;color: #333333;font-size: 16px;text-align: left;height:100%;width: 50%;vertical-align: middle;font-weight: 600;font-family: 'Arial', 'Helvetica', sans-serif;">Contact:</th>
            <td style="height:100%;width: 50%;vertical-align: middle;">
              <table class="contact-information" style="padding: 30px;width: 100%;">
                <tr style="height:100%;padding: 10px;width: 100%;float:left">
                  <th>Name:</th>
                  <td><%= @form.name %></td>
                </tr>
                <tr style="height:100%;padding: 10px;width: 100%;float:left">
                  <th>Phone:</th>
                  <td><%= @form.phone %></td>
                </tr>
                <tr style="padding: 10px;width: 100%;float:left">
                  <th>Email:</th>
                  <td><%= @form.email %></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</section>
