div#hand-print {
  background: image_url('handprint.png') no-repeat;
  background-size: 60%;
  background-position: center;
  max-width: 340px;
  height: 240px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  h1.header {
    background-color: #b01111;
    display: inline-block;
    padding: 6px 25px;
    font-weight: 400;
    margin-top: 95px;
    text-transform: uppercase;
    border-radius: 25px;
    margin-bottom: 14px;
    font-size: 19px;
    color: white;
  }
  p.subtext {
    display: inline-block;
    background-color: #222;
    border-radius: 25px;
    padding: 6px 25px;
    font-size: 14px;
    color: #ddd;
    font-weight: 200;
  }
}

#feedback #hand-print, #quote #hand-print {
  margin: 0 auto;
}