<ul>
  <li>Opening Hours</li>
  <li>Monday 8:30 am - 6:00 pm</li>
  <li>Tuesday 8:30 am - 6:00 pm</li>
  <li>Wednesday 8:30 am - 6:00 pm</li>
  <li>Thursday 8:30 am - 6:00 pm</li>
  <li>Friday 8:30 am - 6:00 pm</li>
  <li>Saturday 8:30 am - 1:30 pm</li>
  <li>Sunday closed</li>
  <li>Early & Late appointments avail. upon request</li>
</ul>