<div id="section-container">
  <section id="top-information">
    <div class="innercontainer">
      <img src="media/massage.png" id="topinfo-graphic"/>
      <p>Mitchell’s physiotherapy provides professional and affordable hands-on treatment for a wide variety of
        musculoskeletal conditions. Our highly qualified team will efficiently and effectively treat your condition in
        the shortest timeframe possible so you can get back on top of your everyday tasks sooner and be pain-free. Your
        treatment will also include self-management advice so you can avoid frequent treatment and ultimately take
        charge of your own condition!
        <br><br>We have a HICAPS machine onsite and we accept all private health fund cards.
        <br><br>As preferred providers for Bupa and Medibank Private, participants of the HCF More for Muscles program
        and recognised partners of NIB, we are able to provide you with quality service with minimal out-of-pocket
        expenses.
      </p>
      <br>
      <br><Br>
    </div>

  </section>
</div>
<!-- Treatment Section -->
<section id="treatment">

  <div id="treatmentbanner">
    <div class="hand-image">
      <h1>In-House Treatment</h1>


      <p>Professional Service for all Individual Needs</p>
    </div>
  </div>

  <section class="bodytext">

    <article>

      <br>
      <div class="hide">
        <h1>Treatment Information</h1>
        <ul>
          <li class="red-li"><p>Sport injuries</p></li>
          <li class="gold-li"><p>Soft and deep tissue massage</p></li>
          <li class="grey-li"><p>Joint mobilisation and manipulation</p></li>
          <li class="red-li"><p>Aged care</p></li>
          <li class="gold-li"><p>Prenatal care</p></li>
          <li class="grey-li"><p>Pregnancy Massage</p></li>
          <li class="red-li"><p>Pre- and post-surgery rehabilitation</p></li>
        </ul>
        <ul>
          <li class="gold-li"><p>Headaches</p></li>
          <li class="grey-li"><p>Back and neck issues</p></li>
          <li class="red-li"><p>Muscle overuse</p></li>
          <li class="gold-li"><p>Gender Health</p></li>
          <li class="grey-li"><p>Postural issues</p></li>
          <li class="red-li"><p>Scar tissue</p></li>
          <li class="gold-li"><p>Core strengthening</p></li>
        </ul>
      </div>
      <div class="price">
        <p><strong>Initial Consultation</strong><br>
          $75.00 (30mins)<br>
          <br>
          <strong>Subsequent Consultation</strong><br>
          $63.00 (30mins)<br>
          <br>
          <strong>Long Consultation</strong><br>
          Price on Application (45-60mins)<br>
          <br>
          <strong>Enhanced Primary Care (EPC)</strong><br>
          <s>$52.95</s> <em>Bulk Billed</em><br>
          <br>
          <strong>Department of Veteran's Affairs (DVA)</strong><br>
          <s>$63.30</s> <em>Bulk Billed</em></p>

      </div>

    </article>
    <section>
      <div class="special">
        <img src="media/savings.png"/>
        <p>If you are a full-time student, healthcare card holder, Seniors Card holder or Pensioner, you are eligible
          for a $5 discount </p>
      </div>
      <div class="pilates">
        <img src="media/pilates.png"/>
        <div class="pilates-hide">
          <h2>Pilates, Hydrotherapy and "Home & Gym" Programmes</h2>
          <p>The days of treating injuries with bed rest have passed. Movement is essential to restoring function and
            modulating pain. Inactivity leads to your muscles tightening and weakening.
            <br><br>We are firm believers in taking charge of your own fitness which is why we prescribe exercise
            programs that will help you maintain your muscles in order to avoid future injury, and aid current injury.
            <br><br>We can prescribe exercise programs for all parts of the body. In addition, on of our
            Physiotherapists, Caolán Scott, is a qualified Mat-work Pilates instructor who delivers one-on-one
            Physio+Pilates sessions which addresses any injury or insufficiency you may have and then prepares and
            teaches you a personalised Pilates.
          </p>
        </div>
        <div class="learnmore"><p>Learn More</p></div>


        <!-- Pilates Learn More Script -->

        <script>
            $(document).ready(function () {
                TriggerClick = 0;
                var div = $('.pilates');
                var img = $('.pilates > img');

                $('.learnmore').click(function () {


                    if (TriggerClick == 0) {
                        TriggerClick = 1;

                        div.animate({marginTop: '10px'}, 200);
                        div.animate({width: '100%'});
                        div.animate({marginBottom: '30px'}, 500);
                        $('.learnmore > p').delay(4000).text("Collapse");
                        $('.pilates-hide > p').delay(700).toggle("slow", function () {
                        });
                    }

                    else {
                        TriggerClick = 0;

                        if ($(window).width() > 960) {
                            $('.pilates').animate({width: '45%'}, 500)
                        }
                        ;

                        if ($(window).width() < 525) {
                            $('.pilates').animate({width: '100%'}, 500)
                        }
                        ;
                        $('.learnmore > p').delay(4000).text("Learn More");

                        $('.pilates-hide > p').delay(100).toggle("slow", function () {
                        });
                    }

                });
            });
        </script>


      </div>
    </section>
    <br>
    <br>
    <br>

    <article>

      <h2>We are preferred providers for Medibank Private and BUPA. </h2>
      <p>As preferred providers, we cap our prices in accordance with Medibank Private and BUPA. By doing this, your
        health fund will offer you a higher rebate to attend a Member’s Choice Physiotherapist or preferred provider.
        The exact rebate you will receive from your health fund is dependent on what plan you have with them. Please
        discuss this with your private health fund if you would like to know what your out-of-pocket expenses will
        be.<br><br>
      </p><img alt="Preferred Providers of Bupa, Medibank and HCF" class=
        "provider" src="media/providers.jpg">
      <br>
      <br>
      <br>
      <h2>Cancellation Policy</h2>
      <p>We understand that at times you may have to cancel late notice. We would appreciate a minimum of 4 hours’
        notice for cancellations so that we can offer your appointment to any client on our waitlist.
        <br><br>Late cancellations will attract a fee of 50% of the consultation price. Mitchell’s Physiotherapy follows
        Australian Physiotherapy Association Guidelines (2011) in regards to late cancellations and failure to attend.
        For more information please review page 10 of the guidelines. We do understand that failing to attend is
        sometimes unavoidable and we are lenient in most circumstances. Please notify us as soon as possible if you know
        you will be unable to attend
      </p>
    </article>


    <article>
      <div class="outer">
        <div class="inner">

          <div class="treatment-method-grid" onmouseover="document.getElementById('method1').style.display = 'block';" onmouseout="document.getElementById('method1').style.display = 'none';">
            <div class="method" id="method1">
              <h2>Heat Packs</h2>
            </div>
          </div>

          <div class="treatment-method-grid" onmouseover="document.getElementById('method2').style.display = 'block';" onmouseout="document.getElementById('method2').style.display = 'none';">
            <div class="method" id="method2"><h2>TENS Therapy</h2>
            </div>
          </div>

          <div class="treatment-method-grid" onmouseover="document.getElementById('method3').style.display = 'block';" onmouseout="document.getElementById('method3').style.display = 'none';">
            <div class="method" id="method3">
              <h2>Strapping</h2>
            </div>
          </div>

          <div class="treatment-method-grid" onmouseover="document.getElementById('method4').style.display = 'block';" onmouseout="document.getElementById('method4').style.display = 'none';">
            <div class="method" id="method4">
              <h2>Dry Needling</h2>
            </div>
          </div>
        </div>

        <div class="overlay">
          <h1>Treatment Methods</h1>
        </div>
      </div>

    </article>

  </section>
</section>


<section id="test">
  <div id="staff">
    <h1 id="stafftitlebanner">Our Physiotherapists</h1>
    <section id="grid-container">

      <div class="containerslide-left red" id="kelly" onmouseover="select(this.id)"
           title="Kelly">
        <img src="media/kellymitchell.jpg" class="slide mobileright"/>

        <div class="staff-content default">
          <div class="staff-expand">
            <h2>Kelly Mitchell | Director</h2>
          </div>
          <p><em>B. Phty (UQ)</em><br><br>
            Our practice director and mentor, founded the practice in 1990. Kelly graduated from the University of
            Queensland in 1984 then proceeded to work in both hospital and private practice before opening her own
            clinic.
            <br><br>
            Kelly is a pioneer in the use of the Blankenship System for Functional Capacity Evaluations in Queensland
            where she was one of the first to travel to the United States to receive this qualification in 1999.
            <br><br>
            Kelly has a passion for educating her patients in self-management techniques. With her bubbly personality
            and wealth of knowledge, we are very lucky to have her leading our team.</p>
        </div>
      </div>


      <div class="containerslide-left gold" id="michael" onmouseover="select(this.id); slideLeft(this)"
           title="Michael">
        <img src="media/michaeldonovan.jpg" class="slide"/>

        <div class="staff-content inverse right">
          <div class="staff-expand">
            <h2>Michael Donovan</h2>
          </div>
          <p><em>B. Phty (UQ), B.H.M.S.(UQ) | APA Member | Titled Occupational Health Physiotherapist| McKenzie Trained
            for treatment of spinal conditions | FCE Certified Evaluator</em><br><br>Michael graduated from the
            University of Queensland in 1993. With over 20 years of experience in Australia and overseas, Michael has a
            wide range of skills for clinical assessment and treatment of musculoskeletal disorders. Michael treats many
            sporting conditions with an interest in functional post-knee surgery rehabilitation.<br><br>As a Titled
            Occupational Health Physiotherapist (ACPT), Michael has specialised knowledge, skills and experience in
            workplace assessment, job task analysis, ergonomic assessment of the workplace, Return to Work plans, FCEs
            and Manual Handling training<br><br>Michael is continuing his professional development by currently studying
            his Masters Degree at the University of Queensland to investigate the effects of Early Workplace
            Intervention and Rehabilitation on Work Injury Rates and Costs. He was successful in securing a 2 year
            scholarship to fund this research.</p>
        </div>
      </div>

      <!-- Scott -->


      <div class="containerslide-left grey" id="scott" onmouseover="select(this.id); slideLeft2(this)"
           title="Scott">
        <img src="media/scotthayter.jpg" class="slide"/>

        <div class="staff-content default">
          <div class="staff-expand">
            <h2>Scott Hayter</h2>
          </div>
          <p><em>Masters of Physiotherapy (UQ) | Bachelor of Applied Science (Human Movement Science) (QUT)
          </em><br><br>
            Scott graduated as a Physiotherapist in 2004 after completing his Masters of Physiotherapy degree. Scott
            joined our team in 2006. He combines hands-on treatment with posture and core stability training. Scott has
            rehabilitated many clients post-surgery, with a very high success rate of recovery.
            <br><br>
            Scott is a Certified Functional Capacity Evaluator in the Blankenship System.
        </div>
      </div>


      <!-- Caolan -->

      <div class="containerslide-left red" id="caolan" onmouseover="select(this.id); slideRight2(this)"
           title="Caolan">
        <img src="media/caolanscott.jpg" class="slide mobileright"/>

        <div class="staff-content default right">
          <div class="staff-expand">
            <h2>Caol&aacuten Scott</h2>
          </div>
          <p><em>Bachelor of Physiotherapy (UUJ, N.Ireland,) | McKenzie, Dry Needling, Pilates, Licensed WorkHab
            Evaluator
          </em><br><br>Caolán graduated from Ulster University Jordanstown, Ireland, in 2008. He worked with sporting
            teams in Ireland and in a private practice in New Zealand before moving to Melbourne in late 2009. Caolán
            worked in a Pilates and physiotherapy studio, before working on Mount Buller for the ski season in 2010.
            Here, he worked closely with some professional skiers and snowboarders, learning valuable experience.
             Caolán then moved to the warmer climate of Brisbane and joined our team. <br>

            <br>Caolán’s main interests lie in musculoskeletal and rehabilitation physiotherapy. He combines hands-on
            treatment with dry needling and Pilates programs. He is fond of his field sports, and relishes the challenge
            when trying to get his clients back to match fitness. Caolán is continuously researching the current
            literature to ensure his clients the receive the best possible treatment and exercise program. He also
            invests a lot of time working within the occupational health scope. Here, he is qualified as a Licensed
            WorkHab Evaluator, and carries out regular FCE’s, Pre-employment screenings, and Workstation assessments. He
            is an early riser, and it is not unlike him to start work before 7am if needed! <br>
        </div>
      </div>


      <div class="containerslide-left gold" id="angela" onmouseover="select(this.id); slideLeft(this)"
           title="Angela">
        <img src="media/angela.jpg" class="slide mobileright"/>

        <div class="staff-content default right">
          <div class="staff-expand">
            <h2>Angela Situ</h2>
          </div>
          <p>Hi! My name is Angela and I have the pleasure to work as a Physiotherapist at Mitchell’s since the
            beginning of 2015.

            <br><br>Throughout my degree I got into sports trainer role for various sporting events and organizations
            including Brisbane Lions Football Club, University of Queensland (UQ) inter-college games and The Australian
            Football League.

            <br><br>After graduating from UQ in 2014, I started working as a generalist Physiotherapist at Greenslopes
            Private Hospital - performing assessments and treatment to inpatients with respiratory, medical, and
            orthopaedic conditions. That’s also when I joined Mitchell’s on Saturdays. It can be a little challenging,
            but I am really getting the best of both worlds!

            <br><br>Outside work I enjoy sports, music, arts, design, and programming. Currently I’m working on a web
            development project for my Diploma of Science course at UQ.

            <br><br>If you are interested in an outcome-orientated intervention I’d love to meet you in person and see
            how my skills can help you achieve the lifestyle you want to maintain!

            <br><br>Specialties: sports and musculoskeletal injury prevention and intervention |post operation
            rehabilitation| dry needling
          </p></div>
      </div>


      <div class="picture blank grey">
      </div>


      <div class="picture blank red">
      </div>
    </section>
    <!--mobile scroll -->
    <script>
        $(".staff-expand").click(function () {
            $(this).siblings().slideToggle();
        });

    </script>


    <!--Aesthetic Function -->
    <script>
        if ($(window).width() > 1080) {
            $(".containerslide-left").hover(function (e) {
                $(this).find(".slide").stop().animate({
                    'margin-left': e.originalEvent.type === "mouseover" ? 0 : "50%",
                }, 320)
            });
        }
    </script>

    <!--Display Text Function -->
    <script>
        function select(title) {
            var text = document.getElementById('title-text')
            var content = document.getElementById('information-content')
            if ($(window).width() > 1080) {
                if (title == ('kelly')) {
                    text.innerHTML = "Kelly Mitchell"
                    content.innerHTML = "<h2>Kelly Mitchell | Director<\/h2><br><em>B. Phty (UQ)<\/em><br><br>Our practice director and mentor, founded the practice in 1990. Kelly graduated from the University of Queensland in 1984 then proceeded to work in both hospital and private practice before opening her own clinic.<br><br>Kelly is a pioneer in the use of the Blankenship System for Functional Capacity Evaluations in Queensland where she was one of the first to travel to the United States to receive this qualification in 1999.<br><br>Kelly has a passion for educating her patients in self-management techniques. With her bubbly personality and wealth of knowledge, we are very lucky to have her leading our team."
                }
                else if (title == ('michael')) {
                    text.innerHTML = "Michael Donovan"
                    content.innerHTML = "<h2>Michael Donovan<\/h2><br><em>B. Phty (UQ), B.H.M.S.(UQ) | APA Member | Titled Occupational Health Physiotherapist| McKenzie Trained for treatment of spinal conditions | FCE Certified Evaluator<\/em><br><br>Michael graduated from the University of Queensland in 1993. With over 20 years of experience in Australia and overseas, Michael has a wide range of skills for clinical assessment and treatment of musculoskeletal disorders. Michael treats many sporting conditions with an interest in functional post-knee surgery rehabilitation.<br><br>As a Titled Occupational Health Physiotherapist (ACPT), Michael has specialised knowledge, skills and experience in workplace assessment, job task analysis, ergonomic assessment of the workplace, Return to Work plans, FCEs and Manual Handling training<br><br>Michael is continuing his professional development by currently studying his Masters Degree at the University of Queensland to investigate the effects of Early Workplace Intervention and Rehabilitation on Work Injury Rates and Costs. He was successful in securing a 2 year scholarship to fund this research."
                }
                else if (title == ('caolan')) {
                    text.innerHTML = "Caolán Scott"
                    content.innerHTML = "<h2>Caol&aacuten Scott<\/h2><br><p><em>Bachelor of Physiotherapy (UUJ, N.Ireland,) | McKenzie, Dry Needling, Pilates, Licensed WorkHab Evaluator</em><br><br>Caolán graduated from Ulster University Jordanstown, Ireland, in 2008. He worked with sporting teams in Ireland and in a private practice in New Zealand before moving to Melbourne in late 2009. Caolán worked in a Pilates and physiotherapy studio, before working on Mount Buller for the ski season in 2010. Here, he worked closely with some professional skiers and snowboarders, learning valuable experience.  Caolán then moved to the warmer climate of Brisbane and joined our team. <br><br>Caolán’s main interests lie in musculoskeletal and rehabilitation physiotherapy. He combines hands-on treatment with dry needling and Pilates programs. He is fond of his field sports, and relishes the challenge when trying to get his clients back to match fitness. Caolán is continuously researching the current literature to ensure his clients the receive the best possible treatment and exercise program. He also invests a lot of time working within the occupational health scope. Here, he is qualified as a Licensed WorkHab Evaluator, and carries out regular FCE’s, Pre-employment screenings, and Workstation assessments. He is an early riser, and it is not unlike him to start work before 7am if needed!<\/p>"

                }
                else if (title == ('scott')) {
                    text.innerHTML = "Scott Hayter"
                    content.innerHTML = "<h2>Scott Hayter<\/h2><br><em>Masters of Physiotherapy (UQ) | Bachelor of Applied Science (Human Movement Science) (QUT)<\/em><br><br><p>Scott graduated as a Physiotherapist in 2004 after completing his Masters of Physiotherapy degree. Scott joined our team in 2006. He combines hands-on treatment with posture and core stability training. Scott has rehabilitated many clients post-surgery, with a very high success rate of recovery.<br><br>Scott is a Certified Functional Capacity Evaluator in the Blankenship System.<\/p>"
                }
                else if (title == ('angela')) {
                    text.innerHTML = "Angela Situ";
                    content.innerHTML = "<h2>Angela Situ<\/h2><br><br><p>Hi! My name is Angela and I have the pleasure to work as a Physiotherapist at Mitchell’s since the beginning of 2015.<br><br>Throughout my degree I got into sports trainer role for various sporting events and organizations including Brisbane Lions Football Club, University of Queensland (UQ) inter-college games and The Australian Football League.                        <br><br>After graduating from UQ in 2014, I started working as a generalist Physiotherapist at Greenslopes Private Hospital - performing assessments and treatment to inpatients with respiratory, medical, and orthopaedic conditions. That’s also when I joined Mitchell’s on Saturdays. It can be a little challenging, but I am really getting the best of both worlds!<br><br>Outside work I enjoy sports, music, arts, design, and programming. Currently I’m working on a web development project for my Diploma of Science course at UQ.<br><br>If you are interested in an outcome orientated intervention I’d love to meet you in person and see how my skills can help you achieve the lifestyle you want to maintain!<\/p>"
                }
                else {
                    text.innerHTML = "Not Working"
                }
            }
        }
    </script>

    <div id="float">
      <section id="information-title">


        <p id="title-text">Mitchell's Physiotherapy</p>


      </section>


      <section id="information-container">


        <p id="information-content"> <!--Insert Title after this line-->

          Mitchell’s Physiotherapy has
          been on this site over 25 years. Our Physiotherapists have
          over 50 years of experience between them and are MacKenzie
          trained.<br>
          <br>
          Mitchell's Physiotherapy incorporates <strong>


          <!--Insert Text Here -->

          <a href="#consulting">Work Injury Management Pty. Ltd.</a></strong>
          specialising in Corporate Programmes providing but not
          limited to Manual Handling Training, Job Task Analysis,
          Risk Assessment, Injury Prevention programmes and
          Workstation Assessments.<br>
          <br>
          We have worked with a wide range of businesses, poultry
          processors, grocery distribution companies, libraries, art
          galleries, various companies in the steel industry and Main
          Roads - local and state-wide etc.</p>
      </section>
    </div>
  </div>


</section>
<section id="consulting">
  <div class="hand-image">
    <h1>Consulting</h1>


    <p>Professional Service for all Individual Needs</p>
  </div>
</section>
<!-- Consulting Section -->


<section id="consultingContent">
  <article class="dropdown">
    <img alt="click for more" class="arrowDown" src=
        "media/arrowDown.png">

    <h1>Workplace Consulting<img alt=
                                     "Toggle" src="media/expand.png">
    </h1>


    <p id="workplaceConsultancy">
      An ergonomically designed workplace brings the following business benefits:<br>
      <br>
      &#9632;&nbsp;&nbsp; Reduction in musculoskeletal disorders at work<br>
      &#9632;&nbsp;&nbsp; Reduction in Lost Time Injury and associated costs<br>
      &#9632;&nbsp;&nbsp; Improvement in staff morale and job satisfaction<br>
      &#9632;&nbsp;&nbsp; Improvement in productivity and efficiency<br>
      &#9632;&nbsp;&nbsp; Provision of a safe and healthy working environment<br>
      &#9632;&nbsp;&nbsp; Reduction of litigation cases<br>
      &#9632;&nbsp;&nbsp; Fulfilment of legal obligations<br>
      <br>
      The application of ergonomic principles at work ensures that the &lsquo;best fit&rsquo; is created between the
      individual and their working environment. This allows individuals to work at maximum capacity and efficiency,
      whilst remaining safe and healthy. Ergonomics consultancy is a cost effective way of capitalising on these
      benefits.<br>
      <br>
      Work Injury Management offers a range of workplace ergonomics assessment options to ensure we best meet your
      needs. If you would like to know more about Work Injury Management workplace ergonomics assessments and how they
      can help your organisation please contact us.<br><br><br>

  </article>


  <div class="line">
  </div>


  <article class="dropdown">
    <img alt="click for more" class="arrowDown" src=
        "media/arrowDown.png">

    <h1>Pre-Employment Screenings
      <img alt="Toggle" src="media/expand.png">
    </h1>


    <p id="preemployment">
      Work Injury Management has provided pre-employment screenings for countless organisations for over 25 years. We
      tailor-design our screenings for each company by analysing the physical demands required by the workplace and
      assessing suitable candidates for these roles. When we find a worker&rsquo;s function to equal the demands of a
      role then a job match is achieved. These tests are objective and utilise computerised testing methods and
      standardised assessment procedures.
      <br>
      <br>
      <br></p>
  </article>


  <div class="line">
  </div>


  <article class="dropdown">
    <img alt="click for more" class="arrowDown" src=
        "media/arrowDown.png">

    <h1>Manual
      Handling Training <img alt="Toggle" src="media/expand.png">
    </h1>


  </article>


  <div class="line">
  </div>


  <article class="dropdown">
    <img alt="click for more" class="arrowDown" src=
        "media/arrowDown.png">

    <h1>Job Task Analysis
      <img alt="Toggle" src="media/expand.png">
    </h1>


    <p id="jobTask">
      Job Task Analyses identifies and determines, in detail, particular job duties and requirements. The analyses takes
      into account critical job demands, postures used, physical requirements and the relative importance of these
      duties for a given job.<br>
      <br>
      While Job Task Analysis data may be collected from interviews or questionnaires, the product of the analysis is a
      description or specification of the job, not a description of the person. The purpose of analysis is to establish
      and document the 'job relatedness' of employment procedures such as training, pre-employment screenings, early
      return to work and identifying possible hazards.<br>
      <br>
      Work Injury Management has also been involved in:<br><br>
      &#9632;&nbsp;&nbsp; <br>
      &#9632;&nbsp;&nbsp; <br>
      &#9632;&nbsp;&nbsp; <br>
      &#9632;&nbsp;&nbsp; <br>
      &#9632;&nbsp;&nbsp; <br><br>
      <br>
      <br></p>
  </article>


  <div class="line">
  </div>


  <article class="dropdown">
    <img alt="click for more" class="arrowDown" src=
        "media/arrowDown.png">

    <h1>Work Station Set-up and Training
      <img alt="Toggle" src="media/expand.png">
    </h1>


    <p id="workstationSetup">Many of us may sit for 1/3 of our lives or more. Work Injury Management is passionate about
      teaching their clients how to be industrial athletes &ndash; walk tall, sit tall, stand tall!<br>
      <br>
      Backs are not designed for prolonged sitting and can lead to postural stress which in turn can lead to muscle
      tightness and shortening. If left unchecked this may progress to be a significant long term painful discomfort
      leaving you with shoulder, neck and back pain. Workstation Setup and postural education are your workplace&rsquo;s
      key to comfortable workers.<br><br>
      Let Work injury management assist you with our Fit to Sit educational classes and/or individual workstation set
      ups. Your next posture is your best posture. For more information, please contact our friendly staff.
      <br>
      <br>
      <br></p>
  </article>


  <div class="line">
  </div>


  <article class="dropdown">
    <img alt="click for more" class="arrowDown" src=
        "media/arrowDown.png">

    <h1>Functional Capacity Evaluation
      <img alt="Toggle" src="media/expand.png">
    </h1>


    <p id="functionalCapacity">Functional Capacity Evaluations are the assessment of a person&rsquo;s function and how
      they can perform required Activities of Daily Living. At Mitchell&rsquo;s Physiotherapy, Work Injury Management,
      our Physiotherapists are Accredited Blankenship Certified Functional Capacity Evaluators. <br><br>
      FCEs are required in many instances. Some examples of where they are used are as follows:<br><br>
      <strong>Compulsory Third Party claims</strong><br><br>
      Work Injury Management works closely with insurance companies such as RACQ, Suncorp and NRMA to assess a person&rsquo;s
      function after motor vehicle accidents (MVAs).<br><br>
      <strong>Workcover Claims</strong><br><br>
      Workcover QLD and private Workcover claims often require the evaluation of a worker&rsquo;s functional capacity to
      determine if the worker is able to perform the tasks of their job. <br><br>
      Our evaluation process utilises objective measures to determine a worker&rsquo;s physical functional capacity to
      work safely. These evaluations can be short or long so please contact our friendly staff so we can provide you
      with more information and a personalized quote for your workplace.<br>
      All Workcover Claim sessions are charged according to QCOMP Table of Costs.<br>
      <br>
      <br></p>
  </article>


  <div class="line">
  </div>


  <article class="dropdown">
    <img alt="click for more" class="arrowDown" src=
        "media/arrowDown.png">

    <h1>Work Cover
      <img alt="Toggle" src="media/expand.png">
    </h1>


    <p id="workCover">
      At Work Injury Management we work with Queensland, Interstate and self-insured Workcover entities. Our team has an
      impressive track record in assisting workplaces to limit Lost Time Injury with our prompt treatment after an
      injury has occurred and the early Return To Work of workers through modification of workload. <br><br>
      Our services with WorkCover are extensive and include:<br><br>
      &#9632;&nbsp;&nbsp; <br>
      &#9632;&nbsp;&nbsp; <br>
      &#9632;&nbsp;&nbsp; <br>
      &#9632;&nbsp;&nbsp; <br>
      &#9632;&nbsp;&nbsp; <br>
      &#9632;&nbsp;&nbsp; <br><br><br>
      We believe that the best solution for the employer and the injured worker begins with good communication. Our
      Physiotherapists maintain communication throughout a worker&rsquo;s treatment to ensure a smooth return to work
      process that benefits the worker and their workplace. <br>
      A considerable proportion of our work also involves liaison with Compulsory Third Party and Personal Accident and
      Income Protection insurers.<br>
      <br>
      <br></p>
  </article>
</section>

<!-- About Section -->
<section id="about">
  <h1>Mitchell's Physiotherapy</h1>
  <iframe allowfullscreen="" class="map" frameborder="0" src=
      "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3538.827433041323!2d153.0462620149408!3d-27.50574178287588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a5a3d1b42a3%3A0xdc3bc817543086e3!2sMitchell&#39;s+Physiotherapy!5e0!3m2!1sen!2sau!4v1452579393552"></iframe>

  <article id="businessDetails">
    <div id="contactInfo">
      <img src="media/location.png"> 211 Juliette St, Greenslopes
      QLD 4120<br>
      <img src="media/mail.png"> admin@workinjurymanagement.com.au<br>
      <img src="media/phone.png"> (07) 3394 3655<br>
    </div>


    <div id="trading-hours">
      <img src="media/clock.png"> <strong>Trading Hours</strong>

      <ul id="infoMin">
        <li id="open">
        </li>


        <li style="list-style: none; display: inline">
          <script>
              var currentTime = new Date();
              var openingTime = new Date();
              var closingTime = new Date();

              openingTime.setHours(8, 30, 0);

              if (currentTime.getDay() == 6) {
                  closingTime.setHours(14, 30, 0);
              }
              else {
                  closingTime.setHours(18, 0, 0);
              }

              if (currentTime.getDay() > 0 && currentTime >= openingTime && currentTime <= closingTime) {
                  document.getElementById("open").innerHTML = "We're Currently Open!";
                  document.getElementById("open").style.color = "green";
              }
              else {
                  document.getElementById("open").innerHTML = "Sorry, we're closed";
                  document.getElementById("open").style.color = "red";
              }

          </script>
        </li>


        <li>Monday 8:30 am - 6:00 pm</li>


        <li>Tuesday 8:30 am - 6:00 pm</li>


        <li>Wednesday 8:30 am - 6:00 pm</li>


        <li>Thursday 8:30 am - 6:00 pm</li>


        <li>Friday 8:30 am - 6:00 pm</li>


        <li>Saturday 8:30 am - 1:30 pm</li>


        <li>Sunday closed</li>

        <li><br><strong><em>Early & Late appointments avail. upon request</em></strong></li>
      </ul>
    </div>
  </article>
</section>


<footer id="mob-footer">
  <a href="tel:0733943655"><img src="media/call.png"></a>
  <script>
      document.write('<' + 'a' + ' ' + 'h' + 'r' + 'e' + 'f' + '=' + "'" + 'm' + 'a' + 'i' + 'l' + '&' + '#' + '1' + '1' + '6' + ';' + '&' + '#' + '1' + '1' + '1' + ';' +
          '&' + '#' + '5' + '8' + ';' + '&' + '#' + '9' + '7' + ';' + '%' + '6' + '&' + '#' + '5' + '2' + ';' + 'm' + 'i' + '&' + '#' + '1' + '1' + '0' + ';' +
          '%' + '4' + '0' + '&' + '#' + '3' + '7' + ';' + '7' + '7' + '&' + '#' + '1' + '1' + '1' + ';' + 'r' + 'k' + 'i' + 'n' + 'j' + '%' + '7' + '5' + '&' +
          '#' + '3' + '7' + ';' + '7' + '2' + 'y' + 'm' + '&' + '#' + '3' + '7' + ';' + '6' + '1' + 'n' + '%' + '6' + '1' + '&' + '#' + '1' + '0' + '3' + ';' +
          'e' + '&' + '#' + '1' + '0' + '9' + ';' + 'e' + 'n' + 't' + '&' + '#' + '4' + '6' + ';' + 'c' + 'o' + 'm' + '&' + '#' + '4' + '6' + ';' + 'a' + 'u' + '?subject=Website Booking&body=Please leave your message or booking details here along with your best contact number' +
          "'" + '>' + '<' + 'i' + 'm' + 'g' + ' ' + 's' + 'r' + 'c' + '=' + "'" + 'm' + 'e' + 'd' + 'i' + 'a' + '/' + 'm' + 'a' + 'i' + 'l' + 't' + 'o' + '.' + 'p' + 'n' + 'g' + "'" + ' ' + 's' + 't' + 'y' + 'l' + 'e' + '=' + "'" + ' ' + 'position: absolute; left: 80px;' + "'" + '/' + '>' + '<' + '/' + 'a' + '>'
      );
  </script>

  <p id="isOpen">
  </p>


  <div id="indicator">
  </div>

</footer>

<!-- Opening Hours Function -->
<script>
    var currentTime = new Date();
    var openingTime = new Date();
    var closingTime = new Date();

    openingTime.setHours(8, 30, 0);

    if (currentTime.getDay() == 6) {
        closingTime.setHours(14, 30, 0);
    }
    else {
        closingTime.setHours(18, 0, 0);
    }

    if (currentTime.getDay() > 0 && currentTime >= openingTime && currentTime <= closingTime) {
        document.getElementById("isOpen").innerHTML = "Open";
        document.getElementById("indicator").style.backgroundColor = "#1fbd00";
    }
    else {
        document.getElementById("isOpen").innerHTML = "Closed";
        document.getElementById("indicator").style.backgroundColor = "#b01111";
    }

</script>
<!-- Staff Floating Information -->

<script>
    if ($(window).width() > 1080) {
        $('#float').fixTo('#grid-container', {
            top: 50
        })
    }
    ;
</script>

<!-- Consulting Drop-down Script -->
<script>
    $('.dropdown > h1').click(function () {
        $(this).siblings('p').slideToggle();
        $('html,body').animate({
                scrollTop: $(this).offset().top - 57
            },
            'slow');
    });
</script>


<!--Show/Hide Content Script -->

<script>
    $(document).ready(function () {
        var allPanels = $('.hide');

        $('#treatment-information > h2').click(function (e) {
            var href = $(this).attr('href');
            var $paragraph = $('.hide');
            console.log($paragraph);
            if (!$paragraph.is(':visible')) {
                allPanels.hide();
            }
            $paragraph.slideToggle(300);
            return href;

        });
    });
</script>

<!-- Treatment Method Grid Script -->
<script>
    $(document).ready(function () {

        $(".outer").on("mouseenter", function () {

            $(".overlay").hide();
        }).on("mouseleave", function () {

            $(".overlay").show();
        })
    })

</script>

<script>
    $(function () {
        $('a[href*="#"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>