<section id="about">
  <%= render 'elements/banner' %>
  <article>
    <h1>About Us</h1>
    <p>
      Mitchell’s Physiotherapy has been on this site over 25 years. Our Physiotherapists have over 50 years of
      experience between them and are MacKenzie trained.
    </p>
    <br>
    <p>Mitchell's Physiotherapy incorporates Work Injury Management Pty. Ltd. specialising in Corporate Programmes
      providing but not limited to Manual Handling Training, Job Task Analysis, Risk Assessment, Injury Prevention
      programmes and Workstation Assessments.
    </p>
    <br>
    <p>
      We have worked with a wide range of businesses, poultry processors, grocery distribution companies, libraries, art
      galleries, various companies in the steel industry and Main Roads - local and state-wide etc.
    </p>
  </article>
  <article>
  <%= render 'index/partials/map' %>
  <%= render 'index/partials/trading_hours' %>
  </article>
</section>
