<% content_for :menu do %>
    <%= image_tag('logo_text.png') %>
    <%= image_tag('logo.png') %>
    <%= home_link %>
    <%= treatment_link %>
    <%= staff_link %>
    <%= consulting_link %>
    <%= about_link %>
    <li class="dropdown">
      <%= contact_link %>
      <div id="dropdownMenu" class="dropdown-content">
        <%= contact_feedback_link %>
        <%= contact_quote_link %>
        <%= contact_link %>
      </div>
    </li>
<% end %>
<section id="home" class="landing">
  <div class="overlay">
    <div class="overlay-inner-container">
      <%= image_tag('logo-with-text.png') %>
      <p>
        Our highly experienced therapists are here for you Monday through Saturday
        to ensure your care is placed first
      </p>
    </div>
  </div>
  <div class="overlay">
    <div class="location-container">
      <%= render 'index/partials/trading_hours' %>
    </div>
  </div>
</section>