<div class="image-container">
  <%= image_tag('icons/needle.png', class: 'icon') %>
  <%= image_tag('icons/massage.png', class: 'icon') %>
  <%= image_tag('icons/tape.png', class: 'icon') %>
  <%= image_tag('icons/heat.png', class: 'icon') %>
</div>
<h1>Treatment Types</h1>
<div class="inner-container">
  <ul>
    <li>Sport injuries</li>
    <li>Soft and deep tissue massage</li>
    <li>Joint mobilisation and manipulation</li>
    <li>Aged care</li>
    <li>Prenatal care</li>
    <li>Pregnancy Massage</li>
    <li>Pre- and post-surgery rehabilitation</li>
  </ul>
  <ul>
    <li>Headaches</li>
    <li>Back and neck issues</li>
    <li>Muscle overuse</li>
    <li>Gender Health</li>
    <li>Postural issues</li>
    <li>Scar tissue</li>
    <li>Core strengthening</li>
  </ul>
</div>