<%= image_tag('icons/pilates.png') %>
<h1>Pilates, Hydrotherapy and "Home & Gym" Programmes</h1>
<p>The days of treating injuries with bed rest have passed. Movement is essential to restoring function and modulating
  pain. Inactivity leads to your muscles tightening and weakening.
  <br>
  We are firm believers in taking charge of your own fitness which is why we prescribe exercise programs that will help
  you maintain your muscles in order to avoid future injury, and aid current injury.
  <br>
  We can prescribe exercise programs for all parts of the body. In addition, on of our Physiotherapists, Caolán Scott,
  is a qualified Mat-work Pilates instructor who delivers one-on-one Physio+Pilates sessions which addresses any injury
  or insufficiency you may have and then prepares and teaches you a personalised Pilates.
</p>