<div class="price-information">
  <ul>
    <li>Initial Consultation
      <p>$80.00 (30mins)</p>
    </li>
    <li>Subsequent Consultation
      <p>$67.00 (30mins)</p>
    </li>
    <li>Long Consultation
      <p>Price on Application (45-60mins)</p>
    </li>
    <li>Medicare EPC patients
      <p>
        <s>$52.95</s>
        <em>Bulk Billed <br>(except during peak times: 7am – 10am | 3.30pm-7pm | Saturdays)</em>
      </p>
    </li>
    <li>Department of Veteran's Affairs (DVA)
      <p>
        <s>$63.30</s>
        <em>Bulk Billed</em>
      </p>
    </li>
    <li>Remedial Massage
      <p>
        <em>$75 for 45mins</em>
        <br>
        <em>$45 for 25mins</em>
      </p>
    </li>
  </ul>
</div>