  <h1>We are preferred providers for Medibank Private and BUPA. </h1>
  <p>As preferred providers, we cap our prices in accordance with Medibank Private and BUPA. By doing this, your
    health fund will offer you a higher rebate to attend a Member’s Choice Physiotherapist or preferred provider.
    The exact rebate you will receive from your health fund is dependent on what plan you have with them. Please
    discuss this with your private health fund if you would like to know what your out-of-pocket expenses will
    be.
  </p>
  <%= image_tag('providers.jpg') %>
  <h1>Cancellation Policy</h1>
  <p>We understand that at times you may have to cancel late notice. We would appreciate a minimum of 4 hours’
    notice for cancellations so that we can offer your appointment to any client on our waitlist.
    <br><br>Late cancellations will attract a fee of 50% of the consultation price. Mitchell’s Physiotherapy follows
    Australian Physiotherapy Association Guidelines (2011) in regards to late cancellations and failure to attend.
    For more information please review page 10 of the guidelines. We do understand that failing to attend is
    sometimes unavoidable and we are lenient in most circumstances. Please notify us as soon as possible if you know
    you will be unable to attend
  </p>