<%= form_for @staff_member do |f| %>

    <% if @staff_member.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@staff_member.errors.count, 'error') %>
            prohibited this staff member from being saved:
          </h2>
          <ul>
            <% @staff_member.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :qualifications %>
      <%= f.text_field :qualifications %>
    </p>
    <p>
      <%= f.label :biography %>
      <%= f.text_area :biography %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>