<section id="staff">
  <div class="banner">
    <div id="hand-print">
      <div class="hand-image">
        <h1 class="header">
          Our Team
        </h1>
        <p class="subtext">
          Of Highly Trained Professionals
        </p>
      </div>
    </div>
  </div>
  <div class="staff-container">
    <%= image_tag('staff/kellymitchell.jpg', class: 'avatar') %>
    <div class="inner-container">
      <h1 class="name">
        Kelly Mitchell
      </h1>
      <p class="qualifications">
        B. Phty (UQ)
      </p>
      <p class="biography">
        Our practice director and mentor, founded the practice in 1990. Kelly graduated from the University of
        Queensland in 1984 then proceeded to work in both hospital and private practice before opening her own clinic.
        <br>
        <br>Kelly is a pioneer in the use of the Blankenship System for Functional Capacity Evaluations in Queensland
        where she was one of the first to travel to the United States to receive this qualification in 1999.
        <br>
        <br>Kelly has a passion for educating her patients in self-management techniques. With her bubbly personality
        and wealth of knowledge, we are very lucky to have her leading our team.
      </p>
    </div>
  </div>
  <div class="staff-container">
    <%= image_tag('staff/janelle.jpg', class: 'avatar') %>
    <div class="inner-container">
      <h1 class="name">
        Janelle Hambleton
      </h1>
      <p class="qualifications">
        B. Phty
      </p>
      <p class="biography">
        Janelle graduated from the University of Queensland in 1986
        with a Bachelor of Physiotherapy and worked in the public
        sector for 10 years at the Prince Charles and Maryborough
        hospitals. Since then she has working in private practice with
        specific interests in treating shoulder, knee and spinal
        injuries/ conditions. She also enjoys developing management
        strategies and exercise programs for clients with chronic
        disease conditions.
        <br>
        Janelle has three children and she enjoys exercising with her
        dog and gardening in her spare time.
      </p>
    </div>
  </div>
  <div class="staff-container">
    <%= image_tag('staff/maathangikarunaharan.jpg', class: 'avatar') %>
    <div class="inner-container">
      <h1 class="name">
        Maathangi Karunaharan
      </h1>
      <p class="qualifications">
        B. Phty (Hons), UQ. APAM.
      </p>
      <p class="biography">
        Graduating from the University of Queensland in 2016, Maathangi is the most recent recruit to our team and
        brings with her knowledge of the latest literature. Throughout her degree, Maathangi worked as both a Sports
        Trainer and Tutor to complement her studies. She was also an APA and QPSA Student Representative, and undertook
        an overseas placement in Centro Nacional de Reabilitação (CNR), Timor-Leste, where she met with delegates of the
        Australian Embassy of Timor-Leste to discuss advancements in health care provision.
        <br><br>
        As a Sports Trainer, Maathangi managed a diverse caseload of sporting injuries at/for the following sporting
        events/teams: Alexandra Hills Bombers, Brisbane Boys College Sports, Cannon Hill District Netball Association,
        Challenge of the Nations Netball Tournament, Coorparoo Kings, Craig Foster Cup, Gold Coast Futsal Association,
        Kenmore Bears, Mayne Tigers, Netball Queensland and Yeronga Devils. Despite standing “tall” at only five feet,
        this little pocket rocket has acquired the ability to pack in a surprisingly strong punch should you ever need a
        killer sports massage!
        <br><br>
        Outside of work, Maathangi enjoys: volunteering; travelling; going to gym, pilates and musicals; and creating
        traditional and digital art. A student at the Nadananjali School of Dance since 2003, Maathangi is a classically
        trained Bharathanatyam dancer and can be found performing at various Indian and Sri Lankan cultural events.
        <br><br>
        If you are interested in an outcome and evidence-based approach, it would be Maathangi’s utmost privilege to
        work with you to help achieve your goals through physiotherapy.
      </p>
    </div>
  </div>
  <div class="staff-container">
    <%= image_tag('staff/dianna.jpg', class: 'avatar') %>
    <div class="inner-container">
      <h1 class="name">
        Dianna Filippelli
      </h1>
      <p class="qualifications">
        B. Phty (Hons), UQ. APAM.
      </p>
      <p class="biography">
        Dianna is a versatile and dynamic physiotherapist who has over 9 years of clinical experience, practicing in
        Canada, Australia and New Zealand. She graduated with a Master’s of Science in Physiotherapy from Queen’s
        University in 2008, and graduated with a Bachelor’s of Human Kinetics in 2006, at the University of British
        Columbia. Dianna has worked in a variety of clinical settings which include occupational rehab, acute hospital
        care, Pilates studios and sports physio practices. She believes in delivering a high level of patient-centred
        care, by collaborating with the patient, to ensure that their needs and goals remain at the forefront of her
        practice. She has a particular interest in occupational health, shoulder injuries, dry needling, clinical
        Pilates and therapeutic Yoga. Outside of work Dianna enjoys travelling, running, skiing, writing and Yoga.
      </p>
    </div>
  </div>
  <div class="staff-container">
    <%= image_tag('staff/karen.jpg', class: 'avatar') %>
    <div class="inner-container">
      <h1 class="name">
        Karen Saunders
      </h1>
      <p class="qualifications">
        BSc (Physiotherapy) WITS
      </p>
      <p class="biography">
        I qualified as a physiotherapist from the University of the Witwatersrand in Johannesburg, South Africa in 2001.
        In 2005 I also completed a post graduate specialisation in Orthopaedic Manipulative Therapy.
        Over the past sixteen years I have gained valuable experience in the musculo-skeletal field within hospital and
        out-patient environments.
        <br>
        I have always enjoyed improving my knowledge and continually pushing myself to learn more through research and
        courses, especially from international lecturers, where possible. My goal has always been to empower my patients
        through individualised rehab programmes and educate them to ensure optimal quality of life and function.
        My approach has always focussed on detailed assessments and analysis of posture and movement dysfunction. I have
        always adopted a practical, hands-on management plan including manual and manipulative therapy techniques,
        restoration of muscle imbalances, postural and movement correction, and core stabilisation with patient specific
        exercise progressions.
        <br>
        I am an extremely passionate physiotherapist, dedicated to the profession and my patients / other team members I
        work with.
        <br>
        I pride myself on giving my patients my utmost attention, listening to their concerns, and providing them with
        the best possible treatment plan following a comprehensive and thorough examination.
      </p>
    </div>
  </div>
  <div class="staff-container">
    <%= image_tag('staff/chunmei.jpg', class: 'avatar') %>
    <div class="inner-container">
      <h1 class="name">
        Chunmei Yang
      </h1>
      <p class="qualifications">
        B. Phty (Hons), UQ. APAM. <strong>|</strong> Cert IV in Fitness <strong>|</strong> Dip of Remedial Massage 
        <br>Certified Tai Chi Instructor/Leader of Dr Paul Lam Tai Chi for Health Institute
        <br>Member of Massage & Myotherapy Aust Member of Tai Chi Association of Aust
      </p>
      <p class="biography">
        As a qualified Remedial Massage Therapist (Dip of Remedial Massage; Member of <a href="https://massagemyotherapy.com.au/">Massage & Myotherapy Australia</a>,         I can help to make your life more liveable, by relieving some of the aches, pains, stresses and strains that everyday life can cause.Remedial massage is used to aid recovery from the injuries caused by the strains of everyday life, including postural problems and repetitive stress injuries. If you have particular muscle tension or chronic pain a remedial massage may be for you.
        While remedial massage encompasses some techniques from relaxation massage, it also incorporates advanced joint mobilisation and stretching techniques to provide deep and lasting relief.
      </p>
    </div>
  </div>

</section>