<p>
  <strong>Name:</strong>
  <%= @staff_member.name %>
</p>
<p>
  <strong>Qualifications:</strong>
  <%= @staff_member.qualifications %>
</p>
<p>
  <strong>Bioraphy:</strong>
  <%= @staff_member.biography %>
</p>

<%= link_to 'Back', staff_members_path %>