$open-sans: 'Open Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;

// Colors
$red: #b01111;
$yellow: #ffca13;
$grey: #333;
$offwhite: #FEECE6;

// Dimensions
$header-height: 60px;

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1500px) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 880px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 550px) {
      @content;
    }
  }
}
