<h1>Functional Capacity Evaluations</h1>
<p>
  Functional Capacity Evaluations are the assessment of a person&rsquo;s function and how
  they can perform required Activities of Daily Living. At Mitchell&rsquo;s Physiotherapy, Work Injury Management,
  our Physiotherapists are Accredited Blankenship Certified Functional Capacity Evaluators. <br><br>
</p>
<p>FCEs are required in many instances. Some examples of where they are used are as follows:</p>
<h2>Compulsory Third Party claims</h2>
<p>Work Injury Management works closely with insurance companies such as RACQ, Suncorp and NRMA to assess a person&rsquo;s
  function after motor vehicle accidents (MVAs).</p>
<h2>Workcover Claims</h2>

<p>Workcover QLD and private Workcover claims often require the evaluation of a worker&rsquo;s functional capacity to
  determine if the worker is able to perform the tasks of their job. <br><br>
  Our evaluation process utilises objective measures to determine a worker&rsquo;s physical functional capacity to
  work safely. These evaluations can be short or long so please contact our friendly staff so we can provide you
  with more information and a personalized quote for your workplace.<br>
  All Workcover Claim sessions are charged according to QCOMP Table of Costs.
</p>