<h1>Job Task Analysis</h1>
<p>
  Job Task Analyses identifies and determines, in detail, particular job duties and requirements. The analyses takes
  into account critical job demands, postures used, physical requirements and the relative importance of these
  duties for a given job.
</p>
<p>
  While Job Task Analysis data may be collected from interviews or questionnaires, the product of the analysis is a
  description or specification of the job, not a description of the person. The purpose of analysis is to establish
  and document the 'job relatedness' of employment procedures such as training, pre-employment screenings, early
  return to work and identifying possible hazards.
</p>
<p>Work Injury Management has also been involved in:</p>
<ul>
  <li>The writing of the Transport and Main Roads Functional Job Dictionary involving Job Task Analysis</li>
  <li>Outlining the Genuine Occupational Requirements for work tasks for a number of corporations</li>
  <li>Provided DVD&rsquo;s for best ergonomic work practice</li>
  <li>Performed tool box talks</li>
  <li>Writing and assisted in writing standard operation procedures for workplace tasks</li>
</ul>