<h1>Manual Handling Training</h1>
<p>
  Work Injury Management has designed many training programmes for various organisations for
  the last 25 years and we are proud to be the first choice in workplace education for many large companies who
  chose to re-educate their employees on a yearly basis. Our clients find our classes practical and informative.
  <br><br>
  Our focus is on the teaching of how the body functions and how to avoid injury to become an industrial athlete.
  Our classes involve:
</p>
<ul>
  <li>Spine protection when handling heavy items</li>
  <li>Back care</li>
  <li>Interactive and practical activities</li>
  <li>Referencing to current workplace standards and legislation</li>
  <li>Prevention of strains and sprains</li>
</ul>
<p>
  While most work places are similar, we do design different programmes for different requirements such as:
</p>
<ul>
  <li>People handling e.g, nurses, disability workers, child care workers</li>
  <li>Pipes</li>
  <li>Abattoirs</li>
  <li>Furniture manufacturing and furniture removal</li>
</ul>