<h1>Pre-Employment Screenings</h1>
  <p>
    Work Injury Management has provided pre-employment screenings for countless organisations for over 25 years. We
    tailor-design our screenings for each company by analysing the physical demands required by the workplace and
    assessing suitable candidates for these roles. When we find a worker&rsquo;s function to equal the demands of a
    role then a job match is achieved. These tests are objective and utilise computerised testing methods and
    standardised assessment procedures.
  </p>