<h1>Work Station Set-up and Training</h1>
<p>
  Many of us may sit for 1/3 of our lives or more. Work Injury Management is passionate about
  teaching their clients how to be industrial athletes &ndash; walk tall, sit tall, stand tall!<br>
  <br>
  Backs are not designed for prolonged sitting and can lead to postural stress which in turn can lead to muscle
  tightness and shortening. If left unchecked this may progress to be a significant long term painful discomfort
  leaving you with shoulder, neck and back pain. Workstation Setup and postural education are your workplace&rsquo;s
  key to comfortable workers.
  <br>
  <br>
  Let Work injury management assist you with our Fit to Sit educational classes and/or individual workstation set
  ups. Your next posture is your best posture. For more information, please contact our friendly staff.
</p>