<h1>Workplace Consulting</h1>
<p>
  An ergonomically designed workplace brings the following business benefits:
</p>
<ul>
  <li>Reduction in musculoskeletal disorders at work</li>
  <li>Reduction in Lost Time Injury and associated costs</li>
  <li>Improvement in staff morale and job satisfaction</li>
  <li>Improvement in productivity and efficiency</li>
  <li>Provision of a safe and healthy working environment</li>
  <li>Reduction of litigation cases</li>
  <li>Fulfilment of legal obligations</li>
</ul>
<p>
  The application of ergonomic principles at work ensures that the &lsquo;best fit&rsquo; is created between the
  individual and their working environment. This allows individuals to work at maximum capacity and efficiency,
  whilst remaining safe and healthy. Ergonomics consultancy is a cost effective way of capitalising on these
  benefits.
  <br><br>
  Work Injury Management offers a range of workplace ergonomics assessment options to ensure we best meet your
  needs. If you would like to know more about Work Injury Management workplace ergonomics assessments and how they
  can help your organisation please contact us.
</p>