<h1>Work Cover</h1>
<p>
  At Work Injury Management we work with Queensland, Interstate and self-insured Workcover entities. Our team has an
  impressive track record in assisting workplaces to limit Lost Time Injury with our prompt treatment after an
  injury has occurred and the early Return To Work of workers through modification of workload.
</p>
<p>Our services with WorkCover are extensive and include:</p>
<ul>
  <li>Treatment of the injured worker</li>
  <li>Suitable Duties Program (and modifications)</li>
  <li>Functional Capacity Evaluations</li>
  <li>Workstation Analyses and Setup</li>
  <li>Home, Gym and Hydrotherapy programs</li>
  <li>Return to Work programs</li>
</ul>
<p>
  We believe that the best solution for the employer and the injured worker begins with good communication. Our
  Physiotherapists maintain communication throughout a worker&rsquo;s treatment to ensure a smooth return to work
  process that benefits the worker and their workplace.
  <br>
  A considerable proportion of our work also involves liaison with Compulsory Third Party and Personal Accident and
  Income Protection insurers.
</p>