<%= form_for :feedback_form, html: {id: 'feedbackForm' } do |f| %>
    <fieldset id="treatmentType" class="show">
      <h2>What were you being treated for?</h2>
      <div class="radio-container">
        <%= f.radio_button(:treatment, 'Back and/or Neck Pain') %>
        <%= f.label(:treatment_knee, 'Back and/or Neck Pain') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:treatment, 'Knee') %>
        <%= f.label(:treatment_knee, 'Knee') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:treatment, 'Ankle/Foot') %>
        <%= f.label(:treatment_back_pain, 'Ankle/Foot') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:treatment, 'Tight Muscles or Post-Gym Soreness') %>
        <%= f.label(:treatment_knee, 'Tight Muscles or Post-Gym Soreness') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:treatment, 'Other') %>
        <%= f.label(:treatment_other, 'Other (Please Specify)') %>
        <%= f.text_field(:treatment, class: 'other') %>
      </div>
      <a class="progress-button">Next</a>
    </fieldset>
    <fieldset id="physiotherapist">
      <h2>Who was your physiotherapist?</h2>
      <div class="radio-container">
        <%= f.radio_button(:physiotherapist, 'Kelly Mitchell') %>
        <%= f.label(:physiotherapist_kelly, 'Kelly Mitchell') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:physiotherapist, 'Karen Saunders') %>
        <%= f.label(:physiotherapist_karen, 'Karen Saunders') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:physiotherapist, 'Janelle Hambleton') %>
        <%= f.label(:physiotherapist_janelle, 'Janelle Hambleton') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:physiotherapist, 'Maathangi Karunaharan') %>
        <%= f.label(:physiotherapist_maathangi, 'Maathangi Karunaharan') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:physiotherapist, 'Dianna Filippelli') %>
        <%= f.label(:physiotherapist_janelle, 'Dianna Filippelli') %>
      </div>
      <a class="progress-button">Next</a>
    </fieldset>
    <fieldset id="treatmentRating">
      <h2>How would you rate your treatment?</h2>
      <div class="radio-container">
        <%= f.radio_button(:treatment_satisfaction, 'Below Satisfactory') %>
        <%= f.label(:treatment_satisfaction_below, 'Below Satisfactory') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:treatment_satisfaction, 'Satisfactory') %>
        <%= f.label(:treatment_satisfaction_normal, 'Satisfactory') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:treatment_satisfaction, 'Above Satisfactory') %>
        <%= f.label(:treatment_satisfaction_above, 'Above Satisfactory') %>
      </div>
      <a class="progress-button">Next</a>
    </fieldset>
    <fieldset id="recommendationRating">
      <h2>How likely are you to recommend Mitchell’s Physiotherapy to a friend?</h2>
      <div class="radio-container">
        <%= f.radio_button(:recommendation, 'Unlikely') %>
        <%= f.label(:recommendation_unlikely, 'Unlikely') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:recommendation, 'Likely') %>
        <%= f.label(:recommendation_likely, 'Likely') %>
      </div>
      <a class="progress-button">Next</a>
    </fieldset>
    <fieldset id="receptionist">
      <h2>Who was your receptionist?</h2>
      <div class="radio-container">
        <%= f.radio_button(:receptionist, 'Karen') %>
        <%= f.label(:receptionist_karen, 'Karen') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:receptionist, 'Alex') %>
        <%= f.label(:receptionist_alex, 'Alex') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:receptionist, 'Clemency') %>
        <%= f.label(:receptionist_dan, 'Clemency') %>
      </div>
      <a class="progress-button">Next</a>
    </fieldset>
    <fieldset id="receptionistRating">
      <h2>How would you rate the
        receptionist that helped you book your appointment and process your payment?</h2>
      <div class="radio-container">
        <%= f.radio_button(:receptionist_satisfaction, 'Below Satisfactory') %>
        <%= f.label(:receptionist_satisfaction_below, 'Below Satisfactory') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:receptionist_satisfaction, 'Satisfactory') %>
        <%= f.label(:receptionist_satisfaction_normal, 'Satisfactory') %>
      </div>
      <div class="radio-container">
        <%= f.radio_button(:receptionist_satisfaction, 'Above Satisfactory') %>
        <%= f.label(:receptionist_satisfaction_above, 'Above Satisfactory') %>
      </div>
      <a class="progress-button">Next</a>
    </fieldset>
    <fieldset id="comments">
      <h2>Additional Comments</h2>
      <%= f.text_area :comments%>
      <%= f.submit 'Send', class: 'submit' %>
    </fieldset>
<% end %>