<%= form_for :quote_enquiry, html: { id: 'quoteEnquiry' } do |f| %>
  <fieldset id="businessSize" class="show">
    <h1>How large is your business?</h1>
    <div class="radio-container">
      <%= f.radio_button(:size, 'Less than 20 employees') %>
      <%= f.label(:size, 'Less than 20 employees', value: 'Less than 20 employees') %>
    </div>
    <div class="radio-container">
      <%= f.radio_button(:size, '20 - 100 employees') %>
      <%= f.label(:size, '20 - 100 employees', value: '20 - 100 employees') %>
    </div>
    <div class="radio-container">
      <%= f.radio_button(:size, '100+ employees') %>
      <%= f.label(:size, '100+ employees', value: '100+ employees') %>
    </div>

    <a class="progress-button">Next</a>
  </fieldset>

  <fieldset>
    <h1>What services can we help you with (select as many as needed)</h1>
    <ul class="radio-container">
      <li>
        <%= f.check_box(:services, { :multiple => true }, 'Onsite physiotherapy') %>
        <%= f.label(:services, 'Onsite physiotherapy', value: 'Onsite physiotherapy') %>
      </li>
      <li>
        <%= f.check_box(:services, { :multiple => true }, 'Onsite Work Injury Management') %>
        <%= f.label(:services, 'Onsite Work Injury Management', value: 'Onsite Work Injury Management') %>
      </li>
      <li>
        <%= f.check_box(:services, { :multiple => true }, 'Work Station Assessments') %>
        <%= f.label(:services, 'Work Station Assessments', value: 'Work Station Assessments') %>
      </li>
      <li>
        <%= f.check_box(:services, { :multiple => true }, 'Perform Risk Assessments') %>
        <%= f.label(:services, 'Perform Risk Assessments', value: 'Perform Risk Assessments') %>
      </li>
      <li>
        <%= f.check_box(:services, { :multiple => true }, 'Pre-Employment Screening') %>
        <%= f.label(:services, 'Pre-Employment Screening', value: 'Pre-Employment Screening') %>
      </li>
      <li>
        <%= f.check_box(:services, { :multiple => true }, 'Job Task Analysis') %>
        <%= f.label(:services, 'Job Task Analysis', value: 'Job Task Analysis') %>
      </li>
      <li>
        <%= f.check_box(:services, { :multiple => true }, 'Off Site Physiotherapy') %>
        <%= f.label(:services, 'Off Site Physiotherapy', value: 'Off Site Physiotherapy') %>
      </li>
      <li>
        <%= f.check_box(:services, { :multiple => true }, 'Functional Capacity Evaluations') %>
        <%= f.label(:services, 'Functional Capacity Evaluations', value: 'Functional Capacity Evaluations') %>
      </li>
      <li>
        <%= f.check_box(:services, { :multiple => true }, 'WorkCover Physiotherapy') %>
        <%= f.label(:services, 'WorkCover Physiotherapy', value: 'WorkCover Physiotherapy') %>
      </li>
      <li>
        <%= f.check_box(:services, { :multiple => true }, 'Consultations & Recommendations for your business') %>
        <%= f.label(:services, 'Consultations & Recommendations for your business', value: 'Consultations & Recommendations for your business') %>
      </li>
      <li>
        <%= f.check_box(:services, { :multiple => true }, 'Reduce Lost Time Injury') %>
        <%= f.label(:services, 'Reduce Lost Time Injury', value: 'Reduce Lost Time Injury') %>
      </li>
      <li>
        <%= f.check_box(:services, { :multiple => true }, 'Reduce Insurance Premiums') %>
        <%= f.label(:services, 'Reduce Insurance Premiums', value: 'Reduce Insurance Premiums') %>
      </li>
      <li>
        <%= f.check_box(:services, { :multiple => true }, 'Manual Handling Training') %>
        <%= f.label(:services, 'Manual Handling Training', value: 'Manual Handling Training') %>
      </li>
      <li>
        <%= f.check_box(:services, { :multiple => true }, 'Toolbox Talks') %>
        <%= f.label(:services, 'Toolbox Talks', value: 'Toolbox Talks') %>
      </li>
    </ul>
    <a class="progress-button">Next</a>
  </fieldset>
  <fieldset id="requestedDate">
    <h1>Approximate Date You Would Like The Services Performed</h1>
    <%= f.select(:month, options_for_select([
                                                'January',
                                                'February',
                                                'March',
                                                'April',
                                                'May',
                                                'June',
                                                'July',
                                                'August',
                                                'September',
                                                'October',
                                                'November',
                                                'December',
                                                'N/A - Just a Quote for Now'
                                            ]), include_blank: true) %>
    <a class="progress-button">Next</a>
  </fieldset>
  <fieldset class="quote-contact-form">
    <h1>How would you like us to contact you?</h1>
    <div>
      <ul>
        <li class="radio-container">
          <%= f.radio_button(:contact, 'Phone') %>
          <%= f.label(:preferred_contact_method_phone, 'Phone') %>
        </li>
        <li class="radio-container">
          <%= f.radio_button(:contact, 'Email') %>
          <%= f.label(:preferred_contact_method_email, 'Email') %>
        </li>
        <li class="radio-container">
          <%= f.radio_button(:contact, 'In Person') %>
          <%= f.label(:preferred_contact_method_in_person, 'In Person') %>
        </li>
      </ul>
    </div>
    <div>
      <%= f.text_field :name, :placeholder => 'Your Name' %>
      <%= f.email_field :email, :placeholder => 'Your Email' %>
      <%= f.telephone_field :phone, :placeholder => 'Your Phone Number' %>
    </div>
    <%= f.submit 'Send', class: 'submit' %>
  </fieldset>
<% end %>
