.banner #hand-print {
  margin-right: 8%;
  float: right;
}

section {
  &#staff .banner {
    background: image_url('premises-photograph.jpg') no-repeat center center;
    background-size: cover;
  }
  &#treatment .banner {
    background: image_url('treatment.jpg') no-repeat center center;
    background-size: cover;
  }
  &#contact .banner, &#about .banner {
    background: image_url('colors.jpg') no-repeat center center;
    background-size: cover;
  }
  .banner {
    min-height: 300px;
    float: left;
    width: 100%;
    @include breakpoint(tablet) {
      min-height: 200px;
    }
  }
}
