footer {
  float: left;
  width: 100%;
  padding: 25px;
  color: #333;
  border-top: 1px dotted #777;
  @include breakpoint(mobile) {
    padding: 10px;
  }
  p {
    font-size: 12px;
    margin-bottom: 24px;
    text-align: center;
  }
  h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  & > ul { // Contact Information
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    li {
      width: 50%;
      padding-left: 20px;
      float: left;
      position: relative;
      @include breakpoint(mobile) {
        width: 30%;
        padding-left: 5px;
        &:last-of-type {
          width: 60%;
          padding-left: 20px;
        }
      }
      img.social {
        width: 25px;
        position: absolute;
        top: 0;
        right: 10px;
      }
      img.icon {
        float: left;
        width: 20px;
        display: inline-block;
        clear: left;
        margin-right: 9px;
        vertical-align: middle;
        @include breakpoint(mobile) {
          display: none;
        }

      }
      p {
        float: left;
        display: inline-block;
        text-align: left;
        font-size: 13px;
        width: auto;
        color: #333;
        line-height: 20px;
        margin-bottom: 12px;
        vertical-align: middle;
        @include breakpoint(mobile) {
          font-size: 10px;
        }
      }
    }
  }
  li > ul { // Footer Links
    text-align: right;
    padding-right: 20px;
    border-right: 1px solid #333;
    li {
      float: none;
      width: 100%;
    }
    a {
      font-size: 12px;
    }
  }
}
