header {
  background-color: #111;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  @include breakpoint(tablet) {
    background-color: #1b1c1d;
    height: 100vh;
    width: 200px;
    right: 0;
    display: none;
    top: 0;
    z-index: 99999999
  }
}

.visible {
  display: flex;
}
.hidden {
  display: none;
}