nav {
  overflow: hidden;
  max-width: 980px;
  margin: 0 auto;
  height: $header-height;
  @include breakpoint(tablet) {
    width: 100%;
    display: flex;
    flex-direction: column;
    float: left;
    height: auto;
  }
  img {
    display: inline-block;
    padding: 12px 0;
    height: 100%;
    float: left;
    margin-right: 40px;
    &:last-of-type {
      @include breakpoint(tablet) {
        width: 70px;
        display: block;
        order: 1;
        margin: 10px auto;
        float: none;
        height: auto;
        padding: 0;
      }
    }
    @include breakpoint(tablet) {
      height: auto;
      width: 80%;
      margin: 0 auto 10px;
      order: 2;
      padding: 0;
    }
  }
  h1 {
    float: left;
    display: inline-block;
    color: white;
    line-height: 60px;
  }
  div.links {
    @include breakpoint(mobile) {
      .active + .sub-menu {
        display: block;
      }
    }

    @include breakpoint(tablet) {
      order: 3;
      margin-top: 40px;
    }
  }
  a, button {
    background: none;
    border: none;
    text-decoration: none;
    display: inline-block;
    float: left;
    font-family: $open-sans;
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 0.039rem;
    color: white;
    padding: 0 20px;
    margin: 0;
    line-height: $header-height;
    transition: ease 0.2s;
    @include breakpoint(tablet) {
      display: block;
      width: 100%;
      font-size: 13px;
      border-top: 1px solid #333;
      font-weight: 400;
      text-align: right;
      line-height: 45px;
    }
    &:focus {
      outline: 0;
    }
    &:hover {
      background-color: $red;
    }
  }
  a.active {
    background-color: $red;
  }
  .social {
    float: right;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    &:hover {
      background-color: transparent;
    }
    img {
      float: left;
      padding: 13px 0;
      vertical-align: middle;
      margin-right: 17px;
    }
  }
}

.active {
  background-color: $red;
}

.dropdown:hover .dropbtn {
  background-color: $red;
}

li.dropdown {
  display: inline-block;
  @include breakpoint(tablet) {
    width: 100%;
  }
  &:hover .dropdown-content {
    display: block;
    @include breakpoint(tablet) {
      display: none;
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    top: $header-height;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    @include breakpoint(tablet) {
      display: none;
    }
    a {
      color: black;
      width: 100%;
      text-decoration: none;
      display: block;
      text-align: left;
      &:hover {
        background-color: #f1f1f1
      }
    }
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(0,0,0,0.7);
  padding: 4px 25px;
  border-radius: 6px;
  border: 1px solid #666666;
  cursor: pointer;
  z-index: 99999999999999999;
  &:hover {
    background-color: #222;
  }
  @include breakpoint(tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  p {
    color: white;
    font-size: 14px;
    font-weight: 400;
    order: 2;
    &::before {
      content: "";
      order: 1;
      vertical-align: middle;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      background: image_url('icons/menu.png') no-repeat;
      background-size: cover;
    }
  }
}

ul.sub-menu {
  display: none;
  a {
    line-height: 34px;
    font-size: 10px !important;
  }
}
