<section id="treatment">
  <div class="banner">
    <%= render 'elements/banner' %>
  </div>
  <section class="information-container">
    <article>
      <%= render 'treatment/partials/providers' %>
    </article>
    <article>
      <%= render 'treatment/partials/price' %>
      <p class="student-discount">
        If you are a full-time student, healthcare card holder, Seniors Card holder or Pensioner, you are eligible for a
        $5 discount
      </p>
    </article>
  </section>
  <section class="information-container">
    <article class="treatment-information">
      <%= render 'treatment/partials/information' %>
    </article>
  </section>
</section>