<section id="consulting">
  <div class="outer-container">
    <div class="sub-menu">
      <ul>
        <li  class="active"><a>Workplace Consulting</a></li>
        <li>Workstation Setup and Training</li>
        <li>Pre-Employment Screenings</li>
        <li>Manual Handling Training</li>
        <li>Job Task Analysis</li>
        <li>Functional Capacity Evaluation</li>
        <li>Work Cover</li>
      </ul>
    </div>
    <div class="content">
      <%= render 'consulting/partials/workplace_consulting' %>
    </div>
  </div>
</section>

<script>

    var menuItems = $('.sub-menu li');
    var content = $('.content');

    menuItems.click(function () {
        $(this).addClass('active').siblings().removeClass('active');
        if ($(this).index() === 0) {
            content.html("<%= j render(:partial => 'consulting/partials/workplace_consulting') %>");
        }
        else if ($(this).index() === 1) {
            content.html("<%= j render(:partial => 'consulting/partials/workstation_setup_and_training') %>");
        }
        else if ($(this).index() === 2) {
            content.html("<%= j render(:partial => 'consulting/partials/pre_employment_screenings') %>");
        }
        else if ($(this).index() === 3) {
            content.html("<%= j render(:partial => 'consulting/partials/manual_handling_training') %>");
        }
        else if ($(this).index() === 4) {
            content.html("<%= j render(:partial => 'consulting/partials/job_task_analysis') %>");
        }
        else if ($(this).index() === 5) {
            content.html("<%= j render(:partial => 'consulting/partials/functional_capacity_evaluations') %>");
        }
        else {
            content.html("<%= j render(:partial => 'consulting/partials/work_cover') %>");
        }
    });
</script>