// Change this - aka. Get rid of the fucking ID
#feedback, #quote {
  padding: 30px;
  background: image_url('colors.jpg') no-repeat;
  background-size: cover;
  float: left;
  width: 100%;
  min-height: 100vh;
  @include breakpoint(tablet) {
    padding: 0;
  }
  .container {
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: $open-sans;
    h1 {
      padding-top: 10px;
      color: $red;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.03em;
      margin-bottom: 20px;
      @include breakpoint(mobile) {
        padding: 10px 0;
        margin: 0;
        font-size: 20px;
      }
    }
    p {
      color: #222;
      max-width: 650px;
      display: block;
      margin: 0 auto 30px;
      font-weight: lighter;
      font-size: 18px;
      letter-spacing: 0.026em;
      @include breakpoint(mobile) {
        font-size: 15px;
        padding: 10px;
        margin: 0 0 10px;
      }
    }
    form {
      color: #111;
      width: 100%;
      margin: 0 auto;
      position: relative;
      h2 {
        width: 100%;
        color: #eee;
        background: #111;
        padding: 20px;
        font-size: 18px;
        margin: 0 auto 20px;
        font-weight: 600;
        @include breakpoint(mobile) {
          padding: 12px;
        }
      }
      p {
        position: absolute;
        right: 28px;
        bottom: 10px;
      }
      .radio-container {
        text-align: left;
        padding: 8px 20px;
        margin: 0 auto;
        @include breakpoint(mobile) {
          padding: 0 20px;
        }
        input[type='radio'], input[type='checkbox'] {
          margin: 5px 10px 5px 0;
          height: 18px;
        }
        label {
          position: relative;
          font-size: 16px;
        }
      }
      fieldset {
        background-color: white;
        display: none;
        padding-bottom: 30px;
        &.show {
          display: block;
        }
        a, .submit {
          outline: none;
          background: transparent;
          float: right;
          color: #aaa;
          padding: 7px 20px;
          cursor: pointer;
          display: block;
          text-align: center;
          font-size: 16px;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: bold;
          border: 2px solid #aaa;
          margin-right: 30px;
          &:hover {
            background-color: $red;
            border-color: $red;
            color: white;
            transform: scale(1.04);
          }
        }
        .submit {
          margin-top: 25px;
        }
      }
      textarea {
        box-sizing: border-box;
        resize: none;
        width: 100%;
        height: 120px;
        padding: 5px;
        max-width: 500px;
      }
    }
  }

  .output {
    background-color: $red;
    width: 100%;
    margin: 0 auto;
    li {
      position: relative;
      color: #eee;
      padding: 15px 20px;
      text-align: center;
      @include breakpoint(mobile) {
        font-size: 15px;
        text-align: right;
      }
      &::before, &::after {
        position: absolute;
        font-weight: bolder;
        margin-right: 30px;
      }
      &::before {
        left: 20px;
      }
      &::after {
        right: 20px;
      }
      &:nth-of-type(1)::before {
        content: "Treatment: ";
      }
      &:nth-of-type(2)::before {
        content: "Physiotherapist: ";
      }
      &:nth-of-type(3)::before {
        content: "Their treatment of you was: ";
      }
      &:nth-of-type(4)::before {
        content: "Would you recommend us?";
      }
      &:nth-of-type(5)::before {
        content: "Your receptionist was: ";
      }
      &:nth-of-type(6)::before {
        content: "Their interaction with you was: "
      }
    }
  }
}

ul.progress {
  width: 100%;
  background-color: #111;
  height: 30px;
  text-align: justify;
  display: table;
  overflow: hidden;
  padding: 26px;
  @include breakpoint(mobile) {
    position: fixed;
    bottom: 0;
    z-index: 99;
    left: 0;
  }
  li {
    margin: 10px;
    height: 100%;
    display: table-cell;
    width: 10px;
    text-align: center;
    color: $red;
    &::after {
      content: "";
      height: 10px;
      width: 10px;
      display: block;
      margin: 0 auto;
      border: 2px solid $yellow;
      border-radius: 50%;
    }
    &.completed::after {
      background-color: $yellow;
    }
    &.active {
      transform: scale(1.8);
      background-color: transparent;
      &::after {
        border-color: $yellow;
      }
    }
  }
}

// Testing
.quote-contact-form {
  div {
    h1 {
      font-size: 18px !important;
    }
    width: 50%;
    float: left;
    padding: 20px;
    ul {
      float: right;
    }
    input {
      float: left;
      clear: both;
      margin: 6px auto;
      padding: 7px;
      font-size: 12px;
    }
  }
}