<section id="feedback">
  <div class="container">
    <% @header = 'Feedback' %>
    <% @subtext = 'How can we improve our services' %>
    <%= render 'elements/handprint' %>
    <h1>Thank you for choosing Mitchell’s Physiotherapy!</h1>
    <p>
      We pride ourselves on excellent customer service and we would appreciate a few
      minutes of your time to fill out this survey on your experience with us. This survey is
      confidential. There will be a chance to comment at the end.
    </p>
    <ul class="progress">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="output"></ul>
    <%= render 'contact/forms/feedback' %>
  </div>
</section>