<section id="contact">
  <%= render 'elements/banner' %>
  <section>
    <div class="contact-form">
      <h1>Contact Us</h1>
      <%= form_for :contact_form, html: {id: 'contact'} do |f| %>

          <%= f.text_field :name, :placeholder => 'Your Name' %>
          <%= f.email_field :contact_email, :placeholder => 'Your Email' %>

          <%= f.text_area(:message, :placeholder => 'Your Message') %>
          <%= f.submit 'Send', class: 'submit' %>
      <% end %>
    </div>
    <div class="contact-links">
      <h1>Looking for something specific?</h1>
      <%= contact_feedback_link %>
      <%= contact_quote_link %>
    </div>
  </section>
</section>
