<section id="quote">
  <div class="container">
    <% @header = 'Online Quote' %>
    <% @subtext = 'One of our friendly staff will contact you' %>
    <%= render 'elements/handprint' %>
    <ul class="progress">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <%= render 'contact/forms/quote' %>
  </div>
</section>