section#about {
  article {
    padding: 50px;
    width: 50%;
    float: left;
    @include breakpoint(tablet) {
      width: 100%;
    }
    h1 {
      text-align: center;
    }
    &:last-of-type {
      text-align: center;
      padding: 50px 50px 50px 0;
      @include breakpoint(tablet) {
        padding: 0;
      }
      iframe, ul {
        width: 50%;
        float: left;
        @include breakpoint(tablet) {
          width: 100%;
        }
      }
    }
    li {
      color: #333;
      margin: 11px 0;
      font-size: 15px;
      font-weight: 100;
      &:first-of-type {
        margin: 0 0 20px;
        font-size: 19px;
        font-weight: 600;
        background-color: #111;
        color: #eee;
        letter-spacing: 1px;
        padding: 12px 0 12px;
      }
      &:last-of-type {
        margin-top: 29px;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
  .banner {
    position: relative;
  }
  iframe {
    max-height: none;
    width: 50%;
  }
  .hand-print {
    position: absolute;
    top: 0;
    right: 0;
  }
}