section#consulting {
  article {
    padding: 30px;
    max-width: 980px;
    margin: 0 auto;
    width: 100%;
  }
  article h1 {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 600;
    color: $red;
  }
  .outer-container {
    display: flex;
    width: 100%;
  }
  div.sub-menu {
    order: 1;
    background-color: #111;
    width: 100%;
    max-width: 430px;
    padding: 30px;
    @include breakpoint(tablet) {
      padding: 0;
      max-width: 300px;
    }
    @include breakpoint(mobile) {
      display: none;
    }
    ul {
      background-color: #111;
      padding: 30px;
      display: block;
      @include breakpoint(mobile) {
        padding: 12px;
      }
      li {
        cursor: pointer;
        border: 1px solid #1b1b1b;
        padding: 14px;
        color: #eee;
        border-radius: 2px;
        margin: 17px 0;
        @include breakpoint(mobile) {
          font-size: 12px;
          padding: 8px;
        }
        &.active, &:hover {
          background-color: $red;
          color: $offwhite;
          border-color: $red;
        }
        &.active {
          font-size: 22px;
          margin-right: -40px;
          @include breakpoint(tablet) {
            font-size: 18px;
          }
          @include breakpoint(mobile) {
            font-size: 14px;
            margin-right: -20px;
          }
        }
      }
    }
  }
  div.content {
    order: 2;
    width: 80%;
    padding: 30px;
    min-height: 700px;
    @include breakpoint(mobile) {
      padding: 15px;
      width: 100%;
      border-top: 45px solid #333;
    }
    h1 {
      text-align: center;
      font-size: 25px;
      color: $red;
      margin-bottom: 40px;
      font-weight: 600;
      @include breakpoint(mobile) {
        margin-bottom: 12px;
        font-size: 18px;
      }
    }
    p {
      line-height: 25px;
      @include breakpoint(mobile) {
        line-height: 16px;
        font-size: 14px;
        color: #111;
        font-weight: 400;
      }
    }
    ul {
      margin: 20px 0;
    }
    li {
      margin: 9px 0;
      list-style: disc inside;
      color: #222;
      font-size: 16px;
      line-height: 21px;
      font-weight: 100;
      @include breakpoint(mobile) {
        font-size: 12px;
        list-style: none;
        color: #000;
        font-weight: 400;
        &::before {
          content: "-";
          padding-right: 8px;
          color: $red;
          font-weight: 800;
          font-size: 14px;
        }
      }
    }
  }
}