#contact {
  h1 {
    text-align: center;
  }
  .contact-links, .contact-form {
    width: 50%;
    float: left;
    padding: 40px;
    align-items: stretch;
    @include breakpoint(tablet) {
      width: 100%;
    }
  }
  .contact-form {
    input {
      width: 50%;
      padding: 6px;
      margin: 10px auto;
    }
    textarea {
      min-height: 120px;
      width: 100%;
      float: left;
      margin: 10px 0;
    }
  }
  .contact-links {
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-content: center;
    h1 {
      color: white;
      margin-bottom: 40px;
    }
    a {
      margin: 20px 0;
      display: block;
      text-align: center;
      padding: 14px 0;
      background-color: $red;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      border: 2px solid $red;
      color: white;
      transform: scale(0.9);
      &:hover {
        border: 2px solid $red;
        transform: scale(0.96);
        background-color: $red;
        transition: ease 0.2s;
      }
    }
  }
}

.submit {
  outline: none;
  background: transparent;
  float: right;
  color: #aaa;
  padding: 7px 20px;
  cursor: pointer;
  display: block;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #aaa;
  margin-right: 30px;
  &:hover {
    background-color: $red;
    border-color: $red;
    color: white;
    transform: scale(1.04);
  }
}