section.landing {
  height: calc(100vh - #{$header-height});
  overflow: hidden;
  background: image_url('yoga-background.jpg') no-repeat;
  background-size: cover;
  @include breakpoint(tablet) {
    height: auto;
  }
  .overlay, .overlay-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .overlay {
    height: 100%;
    float: left;
    width: 50%;
    text-align: center;
    @include breakpoint(tablet) {
      width: 100%;
      background-color: rgba(0,0,0,0.6);
    }
    &:last-of-type {
      background-color: transparent;
      padding: 20px;
      @include breakpoint(tablet) {
        padding: 0;
      }
      li {
        color: #333;
        margin: 11px 0;
        font-size: 15px;
        font-weight: 100;
        &:first-of-type {
          margin: 0 0 20px;
          font-size: 19px;
          font-weight: 600;
          background-color: #111;
          color: #eee;
          letter-spacing: 1px;
          padding: 12px 0 12px;
        }
        &:last-of-type {
          margin-top: 29px;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
    &:first-of-type {
      .overlay-inner-container {
        background: #111;
        padding: 1rem;
        height: 60%;
        max-width: 500px;
        margin: 0 auto;
        @include breakpoint(tablet) {
          background: transparent;
          height: 100%;
        }
      }
    }
    img {
      width: 100%;
      max-width: 440px;
      padding: 20px;
      order: 1;
      margin-bottom: 45px;
      @include breakpoint(tablet) {
        margin: 22px auto;
        padding: 0;
        width: 60%;
      }
    }
    p {
      order: 2;
      color: white;
      font-family: $open-sans;
      font-weight: 300;
      font-size: 17px;
      letter-spacing: 0.03rem;
      line-height: 26px;
      @include breakpoint(tablet) {
        display: none;
      }
    }
    .location-container {
      background-color: white;
      padding-bottom: 35px;
      width: 100%;
      max-width: 370px;
      @include breakpoint(tablet) {
        max-width: none;
        li {
          font-weight: 400;
        }
      }
    }
  }
}

iframe {
  width: 100%;
  max-height: 190px;
  height: 300px;
}

a.button {
  display: block;
  text-align: center;
  margin-top: 40px;
  padding: 14px 20px;
  background-color: $yellow;
  border: 2px solid $yellow;
  font-size: 17px;
  font-family: $open-sans;
  text-transform: uppercase;
  font-weight: 600;
  color: #222;
  order: 3;
  transform: scale(0.9);
  &:hover {
    transform: scale(0.96);
    transition: ease 0.1s;
  }
}
