// Place all the styles related to the Staff controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section#staff {
  article {
    padding: 30px 30px 0;
  }
}

.staff-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  border-bottom: 1px solid #eee;
  @include breakpoint(mobile) {
    display: block;
  }
  &:last-of-type {
    border: transparent;
  }
  .inner-container {
    width: auto;
    float: left;
    background-color: white;
    color: #222;
    @include breakpoint(mobile) {
      width: 100%;
      text-align: center;
    }
  }
  h1.name {
    width: 100%;
    padding: 20px 20px 0;
    text-align: left;
    @include breakpoint(tablet) {
      text-align: center;
    }
  }
  p {
    padding: 0 25px;
    &.qualifications {
      font-style: italic;
      letter-spacing: 1px;
      margin: 8px 0;
      strong {
        font-weight: bold;
      }
    }
    &.biography {
      font-size: 16px;
      font-weight: 100;
      line-height: 22px;
      padding-bottom: 20px;
      text-align: left;
      a {
        color: $red;
        font-weight: bolder;
        &:hover {
          color: $yellow;
        }
      }
      @include breakpoint(mobile) {
        font-weight: 400;
      }
    }
  }
}

img.avatar {
  align-self: flex-start;
  border-radius: 50%;
  flex-shrink: 0;
  margin: 40px 20px;
  height: 200px;
  width: 200px;
  @include breakpoint(tablet) {
    max-height: 200px;
  }
  @include breakpoint(mobile) {
    width: 250px;
    display: block;
    margin: 20px auto;
    float: none;
    max-height: none;
    clear: both;
  }
}