section#treatment {
  p {
    font-weight: 400;
  }
  .information-container {
    width: 100%;
    float: left;
    display: flex;
    @include breakpoint(tablet) {
      display: block;
    }
    &:nth-of-type(2) article.treatment-information {
      @include breakpoint(tablet) {
        width: 100%;
      }
    }
    &:nth-of-type(2) > .treatment-information:first-of-type {
      padding: 0;
      .image-container {
        width: 100%;
        text-align: center;
        img {
          max-width: 60px;
          margin: 10px 0;
        }
      }
    }
    &:nth-of-type(2) > .pilates-information {
      background-color: $red;
      padding-top: 20px;
      @include breakpoint(tablet) {
        width: 100%;
      }
      h1, p {
        color: #eee;
      }
      p {
        font-weight: 400;
        letter-spacing: 0.025rem;
        @include breakpoint(mobile) {
          font-size: 15px;
        }
      }
      img {
        width: 100px;
        display: block;
        margin: 0 auto 10px;
      }
      .inner-container {
        padding: 40px;
        @include breakpoint(mobile) {
          padding: 10px;
        }
      }
    }
    article {
      width: 50%;
      float: left;
      padding: 40px;
      @include breakpoint(tablet) {
        padding: 25px;
      }
      @include breakpoint(mobile) {
        width: 100%;
      }
      img {
        width: 100%;
        margin: 10px 0 25px;
      }
      h1 {
        text-align: center;
      }
      p {
        @include breakpoint(tablet) {
          font-size: 15px;
        }
      }
    }
  }

  .treatment-information {
    @include breakpoint(tablet) {
      margin-bottom: 20px;
    }
    & .inner-container {
      padding: 40px;
      @include breakpoint(tablet) {
        padding: 20px;
      }
    }
    & h1 {
      background-color: #111;
      padding: 10px;
      color: white;
    }
    & > ul:nth-of-type(1) {
      padding-left: 50px;
      position: relative;
      float: left;
      @include breakpoint(tablet) {
        padding: 0;
      }
    }
    ul {
      width: 50%;
      float: left;
      padding: 4px;
      &:first-of-type {
        float: left;
      }
      li {
        font-weight: 100;
        font-size: 15px;
        width: 100%;
        margin: 10px 0;
        vertical-align: middle;
        padding: 10px 0;
        @include breakpoint(tablet) {
          margin: 0;
        }
        &::before {
          content: "";
          width: 30px;
          height: 30px;
          margin-right: 8px;
          display: inline-block;
          vertical-align: inherit;
        }
        &:nth-of-type(3n+1):before {
          background: image_url('icons/handprint-red.png') no-repeat left center;
          background-size: cover;
        }
        &:nth-of-type(3n+2)::before {
          background: image_url('icons/handprint-yellow.png') no-repeat left center;
          background-size: cover;
        }
        &:nth-of-type(3n+3)::before {
          background: image_url('icons/handprint-grey.png') no-repeat left center;
          background-size: cover;
        }
      }
    }
  }

  .price-information {
    width: 100%;
    background-color: #111;
    color: white;
    ul {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      padding: 25px;
      li {
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.04em;
        margin-bottom: 23px;
        width: 100%;
        color: white;
        &:last-of-type {
          margin-bottom: 0;
        }
        p {
          font-size: 15px;
          padding-top: 4px;
          color: #bbb;
        }
      }
    }
    a {
      display: block;
      text-align: center;
      padding: 14px 0;
      background-color: $red;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      border: 2px solid $red;
      transform: scale(0.9);
      &:hover {
        border: 2px solid $red;
        transform: scale(0.96);
        background-color: $red;
        transition: ease 0.2s;
      }
    }
  }

  .student-discount {
    padding: 20px;
    background-color: $yellow;
    font-size: 16px;
    font-weight: 600;
    font-family: $open-sans;
    line-height: 23px;
    display: block;
    float: right;
    margin: 40px 0;
    color: white;
    position: relative;
    &::before {
      content: "$";
      background-color: limegreen;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      top: -15px;
      left: -15px;
      text-align: center;
      color: white;
      font-size: 26px;
      line-height: 40px;
      position: absolute;
    }
  }
}