html {
  font-family: $open-sans;
  -webkit-font-smoothing: antialiased;
}

h1,h2 {
  color: $red;
  font-weight: 600;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
}
h2 {
  margin: 20px 0 10px;
}

p {
  color: #222;
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
}