<footer>
  <p>Copyright &copy 2017 Nathan Jacoby </p>
  <ul>
    <li>
      <ul>
        <h2>Links</h2>
        <!--<li><a href="#">Privacy Policy</a></li>-->
        <li><a href="#">Consultancy Information</a></li>
      </ul>
    </li>
    <li>
      <h2>Get in Touch</h2>
      <%= link_to "#{image_tag 'icons/facebook.png', class: 'social'}".html_safe, 'https://www.facebook.com/mitchellsphysiotherapy', class: 'social', :target => '_blank' %>
      <%= image_tag('icons/location.png', class: 'icon') %><p>211 Juliette St, Greenslopes QLD 4120</p>
      <%= image_tag('icons/mail.png', class: 'icon') %><p>admin@workinjurymanagement.com.au</p>
      <%= image_tag('icons/phone.png', class: 'icon') %><p>(07) 3394 3655</p>
    </li>
  </ul>
</footer>