<%= image_tag('logo_text.png') %>
<%= image_tag('logo.png') %>
<div class="links">
  <%= home_link %>
  <%= treatment_link %>
  <%= staff_link %>
  <%= consulting_link %>
  <ul class="sub-menu">
    <li><a>Workplace Consulting</a></li>
    <li><a>Workstation Setup and Training</a></li>
    <li><a>Pre-Employment Screenings</a></li>
    <li><a>Manual Handling Training</a></li>
    <li><a>Job Task Analysis</a></li>
    <li><a>Functional Capacity Evaluation</a></li>
    <li><a>Work Cover</a></li>
  </ul>
  <%= about_link %>
  <ul>
    <li class="dropdown">
      <%= contact_link %>
      <div id="dropdownMenu" class="dropdown-content">
        <%= contact_feedback_link %>
        <%= contact_quote_link %>
      </div>
    </li>
  </ul>
</div>

