<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Mitchell's Physiotherapist"/>
  <meta property="og:description" content="Experts in Musculoskeletal Physiotherapy"/>
  <meta property="og:image" content="./media/opengraph.jpg"/>
  <meta name="google-site-verification" content="_tUnXHnEM6--OZQGMEmmKduO949om1XfHzpIT-i1F40"/>
  <title>Mitchell's Physiotherapy</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Quicksand:500,700' => true %>
  <%= javascript_include_tag 'application', params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="mobile-menu">
  <p>Menu</p>
</div>
    <header>
      <nav>
        <%= render 'layouts/navigation' %>
      </nav>
    </header>
<main>
  <%= yield %>
</main>
<%= render 'layouts/footer' %>
</body>
</html>